* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
.bpimmortalcarousel_Tooltip_1rogB {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bpimmortalcarousel_CarouselFade_dt-ti {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
.bpimmortalcarousel_StandardButton_Bj27A {
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
.bpimmortalcarousel_StandardButton_Bj27A:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
.bpimmortalcarousel_StandardButton_Bj27A .bpimmortalcarousel_ButtonText_1Db7s {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.bpimmortalcarousel_StandardButton_Bj27A .bpimmortalcarousel_Icon_12HYR {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.bpimmortalcarousel_StandardButton_Bj27A
  .bpimmortalcarousel_Icon_12HYR.bpimmortalcarousel_Play_2-CwD {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
.bpimmortalcarousel_StandardButton_Bj27A .bpimmortalcarousel_SteamLogo_2cw5e {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
.bpimmortalcarousel_ToolTip_31OYX,
.bpimmortalcarousel_PlayerReportTooltip_3JT4c {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
.bpimmortalcarousel_PlayerReportTooltip_3JT4c {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh {
  width: 100%;
  height: 1150px;
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh.bpimmortalcarousel_SingleTreasure_Z9UBp {
  height: 900px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh.bpimmortalcarousel_SingleTreasure_Z9UBp
  .bpimmortalcarousel_TreasureList_aAVRs {
  display: none;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh.bpimmortalcarousel_SingleTreasure_Z9UBp
  .bpimmortalcarousel_CarouselContainer_1N_kX {
  top: 20px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  filter: brightness(0.5);
  position: relative;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo.bpimmortalcarousel_Enabled_2WcnE {
  cursor: pointer;
  filter: brightness(0.9);
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo.bpimmortalcarousel_Enabled_2WcnE:hover {
  filter: brightness(1.3);
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo
  .bpimmortalcarousel_TreasureIcon_2Aict {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
  position: absolute;
  transition: 0.1s;
  top: 0px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo
  .bpimmortalcarousel_TreasureBorder_1fDAg {
  margin-top: 25px;
  width: 64px;
  height: 64px;
  border: double 2px rgba(0, 0, 0, 0);
  border-radius: 50%;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo
  .bpimmortalcarousel_TreasureName_9lWPd {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureList_aAVRs
  .bpimmortalcarousel_Treasure_zEclo.bpimmortalcarousel_Selected_2Pndj {
  filter: brightness(1.1);
}
@media (max-width: 600px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_TreasureList_aAVRs {
    transform: scale(0.6) translateY(-100px);
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_CarouselContainer_1N_kX {
  display: none;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_CarouselContainer_1N_kX.bpimmortalcarousel_ShowCarousel_CuBTS {
  display: block;
}
@media (max-width: 600px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_CarouselContainer_1N_kX {
    top: 300px;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf {
  margin: 0 auto;
  margin-top: -50px;
  max-width: 1600px;
  width: 100vw;
  position: relative;
}
@media (max-width: 900px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_ImmortalCarousel_3xbPf {
    width: 170vw;
    margin-top: 50px;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf
  .bpimmortalcarousel_ImmortalTreasureSet_T2scW {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_ImmortalCarousel_3xbPf
    .bpimmortalcarousel_ImmortalTreasureSet_T2scW {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf
  .bpimmortalcarousel_ImmortalTreasureSet_T2scW
  .bpimmortalcarousel_VideoContainer_2Dq1N {
  max-width: 840px;
  max-height: 420px;
  width: 52.5vw;
  height: 26.25vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 900px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_ImmortalCarousel_3xbPf
    .bpimmortalcarousel_ImmortalTreasureSet_T2scW
    .bpimmortalcarousel_VideoContainer_2Dq1N {
    width: 105vw;
    height: 52.5vw;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf
  .bpimmortalcarousel_ImmortalTreasureSet_T2scW
  .bpimmortalcarousel_VideoContainer_2Dq1N
  .bpimmortalcarousel_HeroImage_21CJ5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 40vw;
  max-width: 640px;
  height: auto;
  overflow-y: visible;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf
  .bpimmortalcarousel_ImmortalTreasureSet_T2scW
  .bpimmortalcarousel_VideoContainer_2Dq1N
  .bpimmortalcarousel_HeroImage_21CJ5.bpimmortalcarousel_Left_1s2Qo {
  left: -300px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf
  .bpimmortalcarousel_ImmortalTreasureSet_T2scW
  .bpimmortalcarousel_VideoContainer_2Dq1N
  .bpimmortalcarousel_HeroImage_21CJ5.bpimmortalcarousel_Right_2YOpK {
  right: -300px;
}
@media (max-width: 900px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_ImmortalCarousel_3xbPf
    .bpimmortalcarousel_ImmortalTreasureSet_T2scW
    .bpimmortalcarousel_VideoContainer_2Dq1N
    .bpimmortalcarousel_HeroImage_21CJ5 {
    visibility: hidden;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalCarousel_3xbPf
  .bpimmortalcarousel_ImmortalTreasureSet_T2scW
  .bpimmortalcarousel_VideoContainer_2Dq1N
  video {
  width: 100%;
  height: 100%;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_CarouselArrow_-rG2S.bpimmortalcarousel_Left_1s2Qo {
  transform: translateY(40px) translateX(-350px);
}
@media (max-width: 900px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_CarouselArrow_-rG2S.bpimmortalcarousel_Left_1s2Qo {
    visibility: hidden;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_CarouselArrow_-rG2S.bpimmortalcarousel_Right_2YOpK {
  transform: translateY(40px) translateX(350px) rotateZ(180deg);
}
@media (max-width: 900px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_CarouselArrow_-rG2S.bpimmortalcarousel_Right_2YOpK {
    visibility: hidden;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_CarouselArrow_-rG2S:hover {
  filter: drop-shadow(0px 0px 5px #0066ff);
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_CarouselDots_2IhEh {
  max-width: 1000px;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_NameAndDesc_22RBG {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_NameAndDesc_22RBG
  .bpimmortalcarousel_ImmortalName_3tyYo {
  margin-top: 4px;
  font-size: 24px;
  font-family: "Reaver", serif;
  font-weight: 600;
  letter-spacing: 2px;
}
@media (max-width: 600px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_NameAndDesc_22RBG
    .bpimmortalcarousel_ImmortalName_3tyYo {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_NameAndDesc_22RBG
    .bpimmortalcarousel_ImmortalName_3tyYo {
    width: 300px;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_NameAndDesc_22RBG
  .bpimmortalcarousel_ImmortalDesc_-2DzM {
  margin-top: 8px;
  color: #ebeaeb;
}
@media (max-width: 600px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_NameAndDesc_22RBG
    .bpimmortalcarousel_ImmortalDesc_-2DzM {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_NameAndDesc_22RBG
    .bpimmortalcarousel_ImmortalDesc_-2DzM {
    width: 300px;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .carousel__dot--selected
  .bpimmortalcarousel_ImmortalDot_2rMsb {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-bottom: 10px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalDot_2rMsb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  opacity: 1;
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalDot_2rMsb.bpimmortalcarousel_Rare_xwUa_
  img {
  border: 2px solid #8ec021;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalDot_2rMsb.bpimmortalcarousel_VeryRare_29im6
  img {
  border: 2px solid #a77338;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalDot_2rMsb.bpimmortalcarousel_UltraRare_1fkHu
  img {
  border: 2px solid #e2ac3f;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalDot_2rMsb.bpimmortalcarousel_CosmicallyRare_2Qs8l
  img {
  border: 2px solid #d32ce6;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalDot_2rMsb
  .bpimmortalcarousel_BPHeroImage_35ORv {
  width: 63px;
  height: 37px;
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_TreasureLevels_35fB1 {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 164%;
  color: #807f8a;
}
@media (max-width: 600px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_TreasureLevels_35fB1 {
    font-size: 14px;
    width: 350px;
  }
}
@media (max-width: 375px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_TreasureLevels_35fB1 {
    font-size: 12px;
    width: 300px;
  }
}
.bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
  .bpimmortalcarousel_ImmortalsFootnote_3JzNI {
  width: 880px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 600px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_ImmortalsFootnote_3JzNI {
    font-size: 14px;
    width: 350px;
  }
}
@media (max-width: 375px) {
  .bpimmortalcarousel_BattlePassImmortalCarousel_fwQjh
    .bpimmortalcarousel_ImmortalsFootnote_3JzNI {
    font-size: 10px;
    width: 350px;
  }
}
.bpimmortalcarousel_CarouselDots_2IhEh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bpimmortalcarousel_CarouselDots_2IhEh * {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.bpimmortalcarousel_CarouselDots_2IhEh .bpimmortalcarousel_Dot_CNBg1 {
  background-color: blue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-right: 4px;
  border: none;
  padding: 0;
  transition: 0.2s;
}
.bpimmortalcarousel_CarouselDots_2IhEh
  .bpimmortalcarousel_Dot_CNBg1
  .carousel__dot--selected
  .bpimmortalcarousel_ImmortalDot_2rMsb {
  border-bottom: 2px solid red;
}
.bpimmortalcarousel_CarouselArrow_-rG2S {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  cursor: pointer;
}
.bpimmortalcarousel_CarouselArrow_-rG2S:disabled {
  opacity: 0;
}
.bpimmortalcarousel_CarouselArrow_-rG2S.bpimmortalcarousel_Right_2YOpK {
  transform: rotateZ(180deg);
}
.bpimmortalcarousel_CarouselArrow_-rG2S .bpimmortalcarousel_ArrowImage_1sM-h {
  width: 100%;
  height: 100%;
  transition: 0.1s;
}
.bpimmortalcarousel_CarouselArrow_-rG2S
  .bpimmortalcarousel_ArrowImage_1sM-h:hover {
  filter: brightness(1.2);
  transform: translateX(-3px);
}
.bpimmortalcarousel_TextStyleSmallHeading_5zpSz {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 100%;
}
.bpimmortalcarousel_TextStyleBody_2MpGH {
  font-size: 16px;
  font-weight: 500;
  line-height: 164%;
}
.bpimmortalcarousel_TextStyleCaption_2BPU_ {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 100%;
}
.bpimmortalcarousel_TextStyleFootnote_3ASKu {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 164%;
}
