* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
._3SWNcmwV0oP-ROKDVg1iXe {
  text-transform: uppercase;
  letter-spacing: 1px;
}
._492j9xDU1ExfjVLCzFhpY {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
._3MfYYTBQIPtnzB-znQhbti {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
._3MfYYTBQIPtnzB-znQhbti:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
._3MfYYTBQIPtnzB-znQhbti ._3vI_elRv1cIrOu2_N5VQQf {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
._3MfYYTBQIPtnzB-znQhbti .o-07vXaikfMXAqA-RNcK3 {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
._3MfYYTBQIPtnzB-znQhbti .o-07vXaikfMXAqA-RNcK3._2lUptAc5bTBML114g6cL9I {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
._3MfYYTBQIPtnzB-znQhbti ._2NMxAQfq2uZwmoT3JMyOU5 {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
._1qbLWciZLqOyJibOuft1PJ,
._3XOHkln8JxO7R3AvDe075q {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
._3XOHkln8JxO7R3AvDe075q {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.dhurOK2NNcUIvBf3mkJg9,
.aFLC0zJWG4rx8hQ1A1sne,
._3lBIug3KJ9NBxaQbOIfVrP,
._1ZrehM_Da84hVA0fVsF-Ox {
  width: 38vw;
  height: 250px;
  max-width: 600px;
  padding-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.dhurOK2NNcUIvBf3mkJg9 ._1WgVxOffsEmu9AnEgh2Hx8,
.aFLC0zJWG4rx8hQ1A1sne ._1WgVxOffsEmu9AnEgh2Hx8,
._3lBIug3KJ9NBxaQbOIfVrP ._1WgVxOffsEmu9AnEgh2Hx8,
._1ZrehM_Da84hVA0fVsF-Ox ._1WgVxOffsEmu9AnEgh2Hx8 {
  width: 100%;
  max-width: 300px;
  margin: calc(16px + 1vw) 20px 20px 20px;
  font-size: 28px;
  font-family: "Reaver", serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: #fff;
}
.dhurOK2NNcUIvBf3mkJg9 ._3KVDYyP9tD2DiKZytyEJZi,
.aFLC0zJWG4rx8hQ1A1sne ._3KVDYyP9tD2DiKZytyEJZi,
._3lBIug3KJ9NBxaQbOIfVrP ._3KVDYyP9tD2DiKZytyEJZi,
._1ZrehM_Da84hVA0fVsF-Ox ._3KVDYyP9tD2DiKZytyEJZi {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 1px 10px #000;
}
.dhurOK2NNcUIvBf3mkJg9 .v8xLJfzAUd1wUn2T0b55I,
.aFLC0zJWG4rx8hQ1A1sne .v8xLJfzAUd1wUn2T0b55I,
._3lBIug3KJ9NBxaQbOIfVrP .v8xLJfzAUd1wUn2T0b55I,
._1ZrehM_Da84hVA0fVsF-Ox .v8xLJfzAUd1wUn2T0b55I {
  margin-top: 20px;
  height: 18px;
}
.dhurOK2NNcUIvBf3mkJg9 ._3SnG2_lnAO-Vsh1ifKtmgB,
.aFLC0zJWG4rx8hQ1A1sne ._3SnG2_lnAO-Vsh1ifKtmgB,
._3lBIug3KJ9NBxaQbOIfVrP ._3SnG2_lnAO-Vsh1ifKtmgB,
._1ZrehM_Da84hVA0fVsF-Ox ._3SnG2_lnAO-Vsh1ifKtmgB {
  padding: 12px 60px;
  margin-top: 40px;
  transition: 0.1s;
  border-radius: 3px;
  box-shadow: 0px 4px 8px #00000087;
  cursor: pointer;
}
.dhurOK2NNcUIvBf3mkJg9 ._3SnG2_lnAO-Vsh1ifKtmgB:hover,
.aFLC0zJWG4rx8hQ1A1sne ._3SnG2_lnAO-Vsh1ifKtmgB:hover,
._3lBIug3KJ9NBxaQbOIfVrP ._3SnG2_lnAO-Vsh1ifKtmgB:hover,
._1ZrehM_Da84hVA0fVsF-Ox ._3SnG2_lnAO-Vsh1ifKtmgB:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}
.aFLC0zJWG4rx8hQ1A1sne,
._3lBIug3KJ9NBxaQbOIfVrP,
._1ZrehM_Da84hVA0fVsF-Ox {
  height: 300px;
  width: 38vw;
  max-width: 600px;
  padding-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.aFLC0zJWG4rx8hQ1A1sne ._1WgVxOffsEmu9AnEgh2Hx8,
._3lBIug3KJ9NBxaQbOIfVrP ._1WgVxOffsEmu9AnEgh2Hx8,
._1ZrehM_Da84hVA0fVsF-Ox ._1WgVxOffsEmu9AnEgh2Hx8 {
  width: 100%;
  max-width: 300px;
  margin: calc(16px + 1vw) 20px 20px 20px;
  font-size: 28px;
  font-family: "Reaver", serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.aFLC0zJWG4rx8hQ1A1sne ._1j-SGTrqobUmcsMR2SyxlD,
._3lBIug3KJ9NBxaQbOIfVrP ._1j-SGTrqobUmcsMR2SyxlD,
._1ZrehM_Da84hVA0fVsF-Ox ._1j-SGTrqobUmcsMR2SyxlD {
  font-size: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.aFLC0zJWG4rx8hQ1A1sne ._3MS1BbIPRZzzrAWojHwo-g,
._3lBIug3KJ9NBxaQbOIfVrP ._3MS1BbIPRZzzrAWojHwo-g,
._1ZrehM_Da84hVA0fVsF-Ox ._3MS1BbIPRZzzrAWojHwo-g {
  font-size: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.aFLC0zJWG4rx8hQ1A1sne .NTGBF2gHEmBRi3nxrcOHa,
._3lBIug3KJ9NBxaQbOIfVrP .NTGBF2gHEmBRi3nxrcOHa,
._1ZrehM_Da84hVA0fVsF-Ox .NTGBF2gHEmBRi3nxrcOHa {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a9efaa;
  letter-spacing: 2px;
}
.aFLC0zJWG4rx8hQ1A1sne ._3ng7YVyin9eviFhG7nKqKf,
._3lBIug3KJ9NBxaQbOIfVrP ._3ng7YVyin9eviFhG7nKqKf,
._1ZrehM_Da84hVA0fVsF-Ox ._3ng7YVyin9eviFhG7nKqKf {
  font-size: 16px;
  text-align: left;
  color: #a2acb8;
}
.aFLC0zJWG4rx8hQ1A1sne ._3KVDYyP9tD2DiKZytyEJZi,
._3lBIug3KJ9NBxaQbOIfVrP ._3KVDYyP9tD2DiKZytyEJZi,
._1ZrehM_Da84hVA0fVsF-Ox ._3KVDYyP9tD2DiKZytyEJZi {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 1px 10px #000;
}
.aFLC0zJWG4rx8hQ1A1sne .v8xLJfzAUd1wUn2T0b55I,
._3lBIug3KJ9NBxaQbOIfVrP .v8xLJfzAUd1wUn2T0b55I,
._1ZrehM_Da84hVA0fVsF-Ox .v8xLJfzAUd1wUn2T0b55I {
  margin-top: 20px;
  height: 18px;
}
.aFLC0zJWG4rx8hQ1A1sne ._3SnG2_lnAO-Vsh1ifKtmgB,
._3lBIug3KJ9NBxaQbOIfVrP ._3SnG2_lnAO-Vsh1ifKtmgB,
._1ZrehM_Da84hVA0fVsF-Ox ._3SnG2_lnAO-Vsh1ifKtmgB {
  padding: 12px 60px;
  margin-top: 40px;
  transition: 0.1s;
  border-radius: 3px;
  box-shadow: 0px 4px 8px #00000087;
  cursor: pointer;
}
.aFLC0zJWG4rx8hQ1A1sne ._3SnG2_lnAO-Vsh1ifKtmgB:hover,
._3lBIug3KJ9NBxaQbOIfVrP ._3SnG2_lnAO-Vsh1ifKtmgB:hover,
._1ZrehM_Da84hVA0fVsF-Ox ._3SnG2_lnAO-Vsh1ifKtmgB:hover {
  filter: brightness(1.2);
  transform: scale(1.04);
}
._1ZrehM_Da84hVA0fVsF-Ox {
  height: 610px;
}
@media (max-width: 980px) {
  ._1ZrehM_Da84hVA0fVsF-Ox {
    height: 700px;
  }
}
._1ZrehM_Da84hVA0fVsF-Ox ._1WgVxOffsEmu9AnEgh2Hx8 {
  max-width: 500px;
  margin: 16px 20px 0px 20px;
  line-height: 160%;
  padding: 3px 0px;
}
._1ZrehM_Da84hVA0fVsF-Ox ._5ddUuvHuifvwOsveGS3oy {
  background: linear-gradient(to right, #ffffff00, #2a98cbd0, #ffffff00);
  width: 33vw;
  max-width: 500px;
  height: 1px;
  margin: 15px auto;
}
._1ZrehM_Da84hVA0fVsF-Ox ._3SnG2_lnAO-Vsh1ifKtmgB {
  margin-top: auto;
}
._3lBIug3KJ9NBxaQbOIfVrP {
  height: 610px;
  min-width: 320px;
}
._3lBIug3KJ9NBxaQbOIfVrP ._1Z-Qqb_FGDk8tRMdNzYnqr {
  position: absolute;
  width: 38vw;
  height: 33px;
  max-width: 600px;
  transform: translateY(-22px);
}
._3lBIug3KJ9NBxaQbOIfVrP ._1Z-Qqb_FGDk8tRMdNzYnqr img {
  max-width: 100%;
}
@media (max-width: 980px) {
  ._3lBIug3KJ9NBxaQbOIfVrP {
    height: 700px;
  }
}
._3lBIug3KJ9NBxaQbOIfVrP ._1WgVxOffsEmu9AnEgh2Hx8 {
  max-width: 500px;
  margin: 16px 20px 0px 20px;
  line-height: 160%;
  padding: 3px 0px;
}
._3lBIug3KJ9NBxaQbOIfVrP ._1j-SGTrqobUmcsMR2SyxlD,
._3lBIug3KJ9NBxaQbOIfVrP ._3MS1BbIPRZzzrAWojHwo-g {
  font-size: 20px;
  font-weight: 600;
  font-family: "Radiance", sans-serif;
}
._3lBIug3KJ9NBxaQbOIfVrP ._5ddUuvHuifvwOsveGS3oy {
  background: linear-gradient(to right, #ffffff00, #e1cc9a, #ffffff00);
  width: 33vw;
  max-width: 500px;
  height: 1px;
  margin: 15px auto;
}
._3lBIug3KJ9NBxaQbOIfVrP ._3SnG2_lnAO-Vsh1ifKtmgB {
  margin-top: auto;
}
._3lBIug3KJ9NBxaQbOIfVrP ._3ng7YVyin9eviFhG7nKqKf {
  font-size: 16px;
  text-align: left;
  color: #fff;
}
.ZZPNhSonYWEiGiZGb8pa {
  color: #fff;
  font-size: 20px;
  font-family: "Reaver", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 100%;
}
._29RUHlFmf7bp8MDmii0cwy {
  color: #fff;
  font-size: 24px;
  font-family: "Radiance", serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 100%;
}
.YY9MWNYBw5TGBzz6dnkwu {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 164%;
}
._2N4yUqQVX0n5LIdiQmcNh {
  text-align: center;
  margin-top: 10px;
  width: 80%;
  height: 50px;
  padding: 1vw;
}
._3sKCu_Th-JNQ9l8WALWag5 {
  font-size: 16px;
  color: #a2acb8;
}
._3azYFNjOXo-0ulw3D2CM3B {
  color: #c5ff8b;
  font-size: 14px;
  font-weight: 700;
  font-family: "Radiance", serif;
  letter-spacing: 1px;
  text-shadow:
    0px 0px 15px #48ff00,
    0px 0px 3px #48ff00;
}
