* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
.teamdetails_Tooltip_31hC1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.teamdetails_CarouselFade_2UcOF {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
.teamdetails_StandardButton_1OiL0 {
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
.teamdetails_StandardButton_1OiL0:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
.teamdetails_StandardButton_1OiL0 .teamdetails_ButtonText_3gcUn {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.teamdetails_StandardButton_1OiL0 .teamdetails_Icon_17oKd {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.teamdetails_StandardButton_1OiL0
  .teamdetails_Icon_17oKd.teamdetails_Play_1e79t {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
.teamdetails_StandardButton_1OiL0 .teamdetails_SteamLogo_2Z206 {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
.teamdetails_ToolTip_2w_iN,
.teamdetails_PlayerReportTooltip_3oBx7 {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
.teamdetails_PlayerReportTooltip_3oBx7 {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_MatchesGrid_3HPIK,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_WorkshopStatusGrid_11m5M,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_AuditActionsGrid_1ohOp,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_LogoAndColorsGrid_ndSeT,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_UGCLogosGrid_1bbYn,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_MiscInfoGrid_1igOx,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_MembersGrid_3tGp0,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_ManagerGrid_3GLmj,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_TeamDetailsGrid_3V8yT,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_EditInfoGrid_154vY {
  display: grid;
  grid-template-columns: 250px auto;
  width: 100%;
  line-height: 1.2;
  gap: 0.5em normal;
}
.teamdetails_TeamDetails_w3idB {
  width: 100%;
  min-width: 320px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7490196078);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.teamdetails_TeamDetails_w3idB .teamdetails_ContentFrame_hjW9K {
  width: 100%;
  min-height: 700px;
  margin: 0;
  padding: 30px 30px;
  background-color: #0a1010;
  position: relative;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_Header_3gRz5 {
  margin-top: 0px;
  margin-bottom: 16px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_EditInfoGrid_154vY
  .teamdetails_SubmitButton_1RnAK {
  font-size: 14px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_MembersGrid_3tGp0,
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_ManagerGrid_3GLmj {
  max-width: 1000px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_ManagerGrid_3GLmj {
  max-width: 500px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_LogoAndColorsGrid_ndSeT
  .teamdetails_URLLogoContainer_2Lgtu {
  margin-bottom: 10px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_LogoAndColorsGrid_ndSeT
  .teamdetails_DPCLogoContainer_3uIWu {
  width: 250px;
  height: 250px;
  margin: 10px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_LogoAndColorsGrid_ndSeT
  .teamdetails_DPCLogoContainer_3uIWu
  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background:
    -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0980392) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.0980392) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent
          75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0),
    #fff;
  background:
    -moz-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0980392) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.0980392) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent
          75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0),
    #fff;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0980392) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.0980392) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0980392) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.0980392) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    #fff;
  background-repeat: repeat, repeat;
  background-position:
    0px 0,
    5px 5px;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size:
    10px 10px,
    10px 10px;
  background-size:
    10px 10px,
    10px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_AuditActionsGrid_1ohOp {
  max-width: 1200px;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_SeasonMatchHeader_SV4lD {
  margin-bottom: 0;
}
.teamdetails_TeamDetails_w3idB
  .teamdetails_ContentFrame_hjW9K
  .teamdetails_ColorBox_1Kvg9 {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  margin-left: 5px;
}
.teamdetails_TeamDetails_w3idB .teamdetails_Link_3Gjo1 {
  text-decoration: underline;
  color: #36b;
  cursor: pointer;
}
.teamdetails_TeamDetails_w3idB *:link {
  text-decoration: underline;
  color: #36b;
}
.teamdetails_TeamDetails_w3idB *:visited {
  text-decoration: underline;
  color: #36b;
}
.teamdetails_TeamDetails_w3idB .teamdetails_MediumTextField_2IXLM {
  width: 300px;
}
.teamdetails_TeamDetails_w3idB .teamdetails_SmallTextField_1y2t9 {
  width: 150px;
}
.teamdetails_TeamDetails_w3idB .teamdetails_SmoothLine_3YaqJ {
  background-color: #2b2b2b;
  width: 90%;
  height: 1px;
  box-shadow: 0px 1px 1px #000;
  margin: 20px auto 20px 0;
}
.teamdetails_TeamDetails_w3idB h3 {
  margin-bottom: 0.3em;
}
* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
.personadetails_Tooltip_3OELh {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.personadetails_CarouselFade_31I4l {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
.personadetails_StandardButton_37aD3 {
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
.personadetails_StandardButton_37aD3:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
.personadetails_StandardButton_37aD3 .personadetails_ButtonText_1kRqd {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.personadetails_StandardButton_37aD3 .personadetails_Icon_3qIRi {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.personadetails_StandardButton_37aD3
  .personadetails_Icon_3qIRi.personadetails_Play_2vTU3 {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
.personadetails_StandardButton_37aD3 .personadetails_SteamLogo_1fP8s {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
.personadetails_ToolTip_RYpRb,
.personadetails_PlayerReportTooltip_3tRwp {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
.personadetails_PlayerReportTooltip_3tRwp {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_BansGrid_3V5pu,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_WarningsGrid_2THih,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_DetailedInfoInnerGrid_1hn0y,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_DetailedInfoOuterGrid_1A5QR,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_VacInfoInnerGrid_2GLWy,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_VacInfoOuterGrid_3mMUp,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TeamsInfoInnerGrid_1VvPw,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TeamsInfoOuterGrid_3Yy6Z,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_OfficialProfileInnerGrid_3B-f5,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_OfficialProfileOuterGrid_3G-7d,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_EventInfoInnerGrid_vvYl-,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_EventInfoOuterGrid_e1kXo,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TeamDetailsGrid_2qp3O,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_AccessFlagsGrid_31PXU,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SupportInfoGrid_1OWRz,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SmurfExperimentalInfoGrid_2i8-F,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SmurfInfoGrid_1ec2J,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_LinkedAccountsGrid_1CWPT,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SupportInfoTopGrid_pEEkQ,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_RankInfoGrid_xI5E6,
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_GeneralInfoGrid_1fxrH {
  display: grid;
  grid-template-columns: 250px auto;
  width: 100%;
  line-height: 1.2;
  gap: 0.5em normal;
}
.personadetails_PersonaDetails_1zeGb {
  width: 100%;
  min-width: 1440px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7490196078);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.personadetails_PersonaDetails_1zeGb .personadetails_ContentFrame_Z_Blb {
  width: 100%;
  min-height: 700px;
  margin: 0;
  padding: 30px 30px;
  background-color: #0a1010;
  position: relative;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_Header_DQGCO {
  margin-top: 0px;
  margin-bottom: 16px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_HeaderFixedHeight_2VaZt {
  height: 50px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_HeaderNoMargin_26vpY {
  margin-top: 0px;
  margin-bottom: 0px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_HeaderClickable_2OwWX {
  cursor: pointer;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TopContent_22K2A {
  display: grid;
  grid-template-columns: 550px 1fr;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TopContent_22K2A
  .personadetails_TopContentLeft_AymWs {
  display: flex;
  flex-direction: column;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TopContent_22K2A
  .personadetails_TopContentRight_1_Nsd {
  padding: 20px 20px 0 20px;
  display: flex;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TopContent_22K2A
  .personadetails_ChartContainer_NJ2Sx {
  width: 100%;
  align-self: flex-start;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_TopContent_22K2A
  .personadetails_ChartTitle_2jj8F {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 99%;
  padding-bottom: 1em;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_GeneralInfoGrid_1fxrH {
  margin-bottom: 0.5em;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_RankInfoGrid_xI5E6 {
  margin-bottom: 0.5em;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SupportInfoTopGrid_pEEkQ {
  margin-bottom: 0.5em;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_FilterGrid_GCf_M {
  margin: 30px 50px;
  display: none;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 100px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_RankedFilters_33ShE {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_MatchHistoryOuterContainer_3_r0B {
  display: flex;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_MatchHistoryInnerContainer_sL92M {
  flex: 1 1 auto;
  flex-direction: column;
  height: 75vh;
  min-height: 400px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_MatchRowEven_ux51m {
  background-color: #161d1d;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_DetailedInfoInnerGrid_1hn0y {
  grid-template-columns: 250px 185px 65px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_DetailedInfoInnerGrid_1hn0y
  a {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_DetailedInfoInnerGrid_1hn0y
  a:visited {
  text-decoration: none;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_DetailedInfoInnerGrid_1hn0y
  a:hover {
  text-decoration: none;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SupportGrid_2Y0XJ {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_SupportGridHidden_fQ9Jb {
  display: none;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_BanHistoryTable_3WqIr {
  width: 100%;
  border-spacing: 5px;
}
.personadetails_PersonaDetails_1zeGb
  .personadetails_ContentFrame_Z_Blb
  .personadetails_ReportRowElement_2D2t4 {
  display: flex;
  gap: 5px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_Link_1ymUX {
  text-decoration: none;
  color: #5886d1;
  cursor: pointer;
}
.personadetails_PersonaDetails_1zeGb *:link {
  text-decoration: none;
  color: #5886d1;
}
.personadetails_PersonaDetails_1zeGb *:visited {
  text-decoration: none;
  color: #5886d1;
}
.personadetails_PersonaDetails_1zeGb .personadetails_MediumTextField_eQUN1 {
  width: 300px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_SmallTextField_1NTGY {
  width: 150px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_SmoothLine_TmbIe {
  background-color: #2b2b2b;
  width: 98%;
  height: 1px;
  box-shadow: 0px 1px 1px #000;
  margin: 20px auto 20px 0;
}
.personadetails_PersonaDetails_1zeGb h3 {
  margin-bottom: 0.3em;
}
.personadetails_PersonaDetails_1zeGb .personadetails_HeroImage_3yyq7 {
  width: 43px;
  height: 27px;
  transform: translateY(3px);
}
.personadetails_PersonaDetails_1zeGb .personadetails_ItemContainer_2HKl4 {
  width: 144px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_ItemIcon_3fmaF {
  width: 36px;
  height: 27px;
  transform: translateY(3px);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.personadetails_PersonaDetails_1zeGb .personadetails_RankNumber_2DZJO {
  display: inline-block;
  min-width: 50px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_RankedUncertainty_YGzF1 {
  position: relative;
}
.personadetails_PersonaDetails_1zeGb .personadetails_RankedBadgeIcon_1bjsc {
  position: absolute;
  left: 100%;
  top: -5px;
  margin-left: 10px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_CheckBox_2YEZT {
  text-transform: none;
  font-weight: normal;
}
.personadetails_PersonaDetails_1zeGb .personadetails_OtherModesCheckBox_F2OsA {
  padding-left: 8px;
  padding-top: 20px;
  text-transform: none;
  font-weight: normal;
}
.personadetails_PersonaDetails_1zeGb .personadetails_ArrowIcon_2409M {
  margin-left: 8px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_ArrowIconRight_2_9wf {
  width: 12px;
  height: 15px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_ArrowIconDown_3Bwte {
  width: 12px;
  height: 11px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_MarginRightSmall_18x1j {
  margin-right: 12px;
}
.personadetails_PersonaDetails_1zeGb .personadetails_TextCapitalize_lT6nX {
  text-transform: capitalize;
}
.personadetails_PersonaDetails_1zeGb .personadetails_TextUppercase_1zyxl {
  text-transform: uppercase;
}
