// 9831.css












* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
._2AeNNvm8angcDECPN1L-C {
  text-transform: uppercase;
  letter-spacing: 1px;
}
._2342Q6clTz4BW8mfz6KpnV {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
._2-Lxk4a7lGJnuZT2HzVGrT {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
._2-Lxk4a7lGJnuZT2HzVGrT:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
._2-Lxk4a7lGJnuZT2HzVGrT ._22w6TQxT4mJNDuQW8zhvyP {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
._2-Lxk4a7lGJnuZT2HzVGrT ._2PgOQiSoIpr6MydhrEPGaQ {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
._2-Lxk4a7lGJnuZT2HzVGrT ._2PgOQiSoIpr6MydhrEPGaQ._2XhatuwbaULcWG0CQwbSEW {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
._2-Lxk4a7lGJnuZT2HzVGrT .Zh5t-FBlSxlnVqhxkK-vM {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
.F1Dxep5c4VYHND9eK4Goj,
._22X-7GVFtvCklUszGuWsRm {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
._22X-7GVFtvCklUszGuWsRm {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
._3IGF-ZW0owDdXFwfzeVJ_1 {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._3NjqSpuQYV7Xi9Ei5pQ8RW {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._3NjqSpuQYV7Xi9Ei5pQ8RW:before {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#00000000 0%, #00000000 70%, #000000 100%);
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 10vw;
  margin-top: -50px;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS {
    gap: 25px;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS ._2WGhZ2TmOB1Aaoj1PUVIq7 {
  font-size: 80px;
  background: -webkit-linear-gradient(90deg, #ffffff, #866320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS ._-0Tgo5mjlDS_qneTE5O0j {
  width: 70%;
  height: 2px;
  padding: 0;
  margin-top: -20px;
  margin-bottom: -10px;
  background: linear-gradient(
    90deg,
    rgba(150, 115, 60, 0) 0%,
    #9e824d 49%,
    rgba(158, 130, 77, 0) 100%
  );
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS ._-0Tgo5mjlDS_qneTE5O0j {
    width: 100%;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS ._1iZ5dKmMWWCKXQg24xlCUa {
  font-size: 35px;
  background: -webkit-linear-gradient(180deg, #866320, #d9b97c, #866320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS ._1-ZwVcGd2hzROeGAhl2SjQ {
  width: 100%;
  padding-right: 26%;
  padding-left: 26%;
  padding-top: 50px;
  font-size: 22px;
  color: #999;
  padding-bottom: 1.5vw;
  letter-spacing: 1px;
  text-align: center;
  line-height: 36px;
  background-color: #000;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1 ._25ZyP3FZjMPop8PoItxQYS ._1-ZwVcGd2hzROeGAhl2SjQ {
    padding-top: 20px;
    padding-right: 0%;
    padding-left: 0%;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._1pjIZpZ1REtERC1ivZDCap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 10vw;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._1pjIZpZ1REtERC1ivZDCap ._3-pRRV3OrAwcfbRDTVklen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._2LU0JBgM9FdL6eUZd-JjXk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(180deg, #866320, #d9b97c, #866320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Radiance", sans-serif;
  font-weight: bold;
  letter-spacing: 6px;
  font-size: 25px;
  text-transform: uppercase;
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._32IA6YPqj4kppzLEemjyE0 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4vw;
  border-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#9e824d00),
      to(#9e824d00),
      color-stop(0.2, #9e824d),
      color-stop(0.8, #9e824d)
    )
    2 0 2 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  background: radial-gradient(circle at top, #9e824d70, #9e824d00);
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    ._32IA6YPqj4kppzLEemjyE0 {
    height: 200px;
    margin-bottom: 6vw;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._3jFCSRvNottlxVLeNEAVIZ {
  padding-top: 20px;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(180deg, #866320, #d9b97c, #866320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Radiance", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 50px;
  text-transform: uppercase;
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  .-tweZg_BsPTmdcd-ElmEn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    .-tweZg_BsPTmdcd-ElmEn {
    flex-direction: column-reverse;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  .-tweZg_BsPTmdcd-ElmEn
  .gH-ZGwNGtpsQtKvBHfF5l {
  text-align: left;
  width: 100%;
  max-width: 40%;
  padding: 40px;
  text-shadow: 1px 1px 10px #000;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    .-tweZg_BsPTmdcd-ElmEn
    .gH-ZGwNGtpsQtKvBHfF5l {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  .-tweZg_BsPTmdcd-ElmEn
  .gH-ZGwNGtpsQtKvBHfF5l
  ._3BCyoh1kymFsgN95yuWFPH {
  font-family: "Radiance", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #96733c;
  margin-bottom: 20px;
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  .-tweZg_BsPTmdcd-ElmEn
  .gH-ZGwNGtpsQtKvBHfF5l
  ._29YNeoZkyK6uE6R0iifTfc {
  font-family: "Radiance", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #999;
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  .-tweZg_BsPTmdcd-ElmEn
  ._3NIasVgfBvW4FFyuDSbuT5 {
  width: 100%;
  max-width: 60%;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    .-tweZg_BsPTmdcd-ElmEn
    ._3NIasVgfBvW4FFyuDSbuT5 {
    max-width: 100%;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  .Kq-JlETmA7fdFF1sso0LO {
  width: 90%;
  padding: 0 5vw 0 5vw;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    .Kq-JlETmA7fdFF1sso0LO {
    width: 100%;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._2uikTHlpICW4dJWgW7JoaH {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 6vw;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    ._2uikTHlpICW4dJWgW7JoaH {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._2uikTHlpICW4dJWgW7JoaH
  .gH-ZGwNGtpsQtKvBHfF5l {
  text-align: left;
  width: 100%;
  max-width: 40%;
  padding: 40px;
  text-shadow: 1px 1px 10px #000;
  margin: 20px 5px 0px 5px;
  background-image: linear-gradient(#86632040 0%, #86632000 100%);
  border-top: 3px solid #9e824d;
}
@media (max-width: 1200px) {
  ._3IGF-ZW0owDdXFwfzeVJ_1
    ._1pjIZpZ1REtERC1ivZDCap
    ._3-pRRV3OrAwcfbRDTVklen
    ._2uikTHlpICW4dJWgW7JoaH
    .gH-ZGwNGtpsQtKvBHfF5l {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._2uikTHlpICW4dJWgW7JoaH
  .gH-ZGwNGtpsQtKvBHfF5l
  ._3BCyoh1kymFsgN95yuWFPH {
  font-family: "Radiance", sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #96733c;
  margin-bottom: 20px;
  text-align: center;
}
._3IGF-ZW0owDdXFwfzeVJ_1
  ._1pjIZpZ1REtERC1ivZDCap
  ._3-pRRV3OrAwcfbRDTVklen
  ._2uikTHlpICW4dJWgW7JoaH
  .gH-ZGwNGtpsQtKvBHfF5l
  ._29YNeoZkyK6uE6R0iifTfc {
  font-family: "Radiance", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #999;
  text-align: left;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._3BBIErG34K2bed-aDiy-X_ {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
._3IGF-ZW0owDdXFwfzeVJ_1 ._3BBIErG34K2bed-aDiy-X_ ._3jgyALa7YjFeMOldvjRZG {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  color: #fff;
  text-shadow: 0px 1px 40px #ed3b1c;
  font-family: "Radiance", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
}
