// 2653.css












* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
.OauU7XYnGjhMEFNUgTX4v {
  text-transform: uppercase;
  letter-spacing: 1px;
}
._3ZZDoW4_Y9J9fXmuQTnx-6 {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
.Jvvxrqazq9nd3pJbiVJIh {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
.Jvvxrqazq9nd3pJbiVJIh:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
.Jvvxrqazq9nd3pJbiVJIh ._3xvF5xuKWapshL8FScGvvd {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
@media (max-width: 900px) {
  .Jvvxrqazq9nd3pJbiVJIh ._3xvF5xuKWapshL8FScGvvd {
    font-size: 16px;
  }
}
.Jvvxrqazq9nd3pJbiVJIh ._3IvBUAWm4ms1_RWaMklXnM {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.Jvvxrqazq9nd3pJbiVJIh ._3IvBUAWm4ms1_RWaMklXnM._2mNcB6CfbDBq_NsQwKcMtD {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
.Jvvxrqazq9nd3pJbiVJIh ._3gtpeKroBYm347u_2oI3dw {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
._28P6ShpSYac5BbfAoBQ3Ju,
._3dUSNIZ5ScqquyWRSnOnN5 {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
._3dUSNIZ5ScqquyWRSnOnN5 {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
._3R99960iXgU4kJP14mYQhb {
  width: 100%;
  color: #fff;
}
._3R99960iXgU4kJP14mYQhb ._2logX3fPn3u6pyZK1n6fnG {
  width: 100%;
  margin-bottom: 0px;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/hammer-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  display: block;
  position: relative;
}
._3R99960iXgU4kJP14mYQhb ._2logX3fPn3u6pyZK1n6fnG ._1DvyFkOe9ebZgpFv0H3t0H {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(60%, rgba(0, 0, 0, 0)),
    color-stop(80%, rgba(0, 0, 0, 0.7)),
    color-stop(100%, black)
  );
}
._3R99960iXgU4kJP14mYQhb ._2logX3fPn3u6pyZK1n6fnG ._1yKP_TPrLElp93I0WhrcWf {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
._3R99960iXgU4kJP14mYQhb
  ._2logX3fPn3u6pyZK1n6fnG
  ._1yKP_TPrLElp93I0WhrcWf
  video {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 10%);
  mask-image: linear-gradient(to top, transparent 0%, black 100%);
}
._3R99960iXgU4kJP14mYQhb ._2logX3fPn3u6pyZK1n6fnG .a0Lfn6VNP5IYY9ekQFERl {
  margin: 0px auto;
  margin-top: 30vw;
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  margin-top: 50vw;
  margin-bottom: 150px;
  z-index: 10;
}
@media (max-width: 900px) {
  ._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR {
    padding-left: 20px;
    max-width: 80%;
  }
}
@keyframes _2ZiKU9xDpeOtVDgiB6hkgn {
  0% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._3y8VYJeSh675uw8qYJ9l4O {
  font-size: 26px;
  font-family: "Reaver", serif;
  letter-spacing: 3px;
  color: #ffffffee;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000;
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._2kGT16ZUwpE7sb8K8XONKD {
  font-size: 60px;
  line-height: 113%;
  font-family: "Reaver", serif;
  letter-spacing: 5px;
  font-weight: 600;
  color: #ffffffee;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000;
}
@media (max-width: 600px) {
  ._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._2kGT16ZUwpE7sb8K8XONKD {
    font-size: 40px;
  }
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._2QoGFdStVFKJhw_RLSP_3- {
  max-width: 1400px;
  width: 100%;
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._1RpIFm2a4gEhnV5Nogx7gh {
  width: 100px;
  height: 28px;
  margin: 0px 0px 20px 0px;
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._2qRsDLWXfD1qofvcBMcKAJ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
._3R99960iXgU4kJP14mYQhb
  .j5OuL9Icky1jmAbxN4PPR
  ._2qRsDLWXfD1qofvcBMcKAJ
  ._2JdLmqQXKOojMhVEYhEb5 {
  margin: 0px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: "Reaver", serif;
  font-weight: 600;
}
._3R99960iXgU4kJP14mYQhb .j5OuL9Icky1jmAbxN4PPR ._20ZnO08zpW-KbayNYeu-ZQ {
  font-size: 22px;
  line-height: 160%;
  font-weight: 200;
  max-width: 820px;
  margin-top: 10px;
}
._3R99960iXgU4kJP14mYQhb .PpzGdU664uXWOY0lAmxCs {
  padding: 150px 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/lore_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.93);
  position: relative;
  border-top: 2px solid #bb68ff;
  border-bottom: 2px solid #bb68ff;
  box-shadow: 0px 0px 50px #bb68ff;
}
@media (max-width: 600px) {
  ._3R99960iXgU4kJP14mYQhb .PpzGdU664uXWOY0lAmxCs {
    padding: 100px 12vw;
  }
}
._3R99960iXgU4kJP14mYQhb .PpzGdU664uXWOY0lAmxCs ._2sJHJbGMsHHHyNukpP1ZmT {
  font-size: 26px;
  font-family: "Reaver", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  text-shadow: 0px 0px 30px #24055c;
  color: #fff2d0;
}
._3R99960iXgU4kJP14mYQhb .PpzGdU664uXWOY0lAmxCs ._1FSgzMxbODsomysKADkhjy {
  font-size: 22px;
  line-height: 170%;
  font-family: "Reaver", serif;
  margin-bottom: 20px;
  opacity: 0.95;
  text-shadow: 0px 0px 5px #000;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh {
  background-color: #111;
  min-height: 500px;
  max-height: 80vh;
  position: relative;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh button {
  filter: saturate(0);
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh button:disabled {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px #ffeeb7;
  filter: saturate(1);
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh .wP4oM86nfCwfFt-84yneA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh ._2zbMqZyLGxq9xMJHDdxADw {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._3R99960iXgU4kJP14mYQhb
  ._31TraWyqcARwZz8VjFobh
  ._2zbMqZyLGxq9xMJHDdxADw
  ._2GfiL5kQ9j1eDw1FEiMSVv {
  width: 70px;
  height: 70px;
  margin: 0px 5px;
}
._3R99960iXgU4kJP14mYQhb
  ._31TraWyqcARwZz8VjFobh
  ._2zbMqZyLGxq9xMJHDdxADw
  ._3OLys8QiCOyIrnt-mZANpu {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/dawnbreaker_fire_wreath.png");
  background-size: cover;
}
._3R99960iXgU4kJP14mYQhb
  ._31TraWyqcARwZz8VjFobh
  ._2zbMqZyLGxq9xMJHDdxADw
  .Zvk764jL58yRhTApiL_gN {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/dawnbreaker_celestial_hammer.png");
  background-size: cover;
}
._3R99960iXgU4kJP14mYQhb
  ._31TraWyqcARwZz8VjFobh
  ._2zbMqZyLGxq9xMJHDdxADw
  ._1RpgorUFhoACUKtUF5ivit {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/dawnbreaker_luminosity.png");
  background-size: cover;
}
._3R99960iXgU4kJP14mYQhb
  ._31TraWyqcARwZz8VjFobh
  ._2zbMqZyLGxq9xMJHDdxADw
  ._2TPSNlQyGHxBlh2SpCEP_g {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/dawnbreaker_solar_flare.png");
  background-size: cover;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh ._20QY7EnZ0meXq7lNQf4isz {
  background-color: #000000aa;
  background-size: 100% 100%;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ffffff40;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  z-index: 20;
}
@media (max-width: 600px) {
  ._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh ._20QY7EnZ0meXq7lNQf4isz {
    position: relative;
  }
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh ._1xd3XVq5Lgoz6J2bfNSOCs {
  object-fit: contain;
  margin-right: 20px;
  width: 25%;
  max-width: 200px;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh ._1A8hj8TSTOhgdbcCBHVYgv {
  font-family: "Reaver", serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4px;
  text-shadow: 2px 2px 0px #00000090;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh .-C7XO7sc3_PoI8tzb_Xbv {
  font-size: 18px;
  color: #bbb;
  line-height: 140%;
}
._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh video {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 2000px;
}
@media (max-width: 600px) {
  ._3R99960iXgU4kJP14mYQhb ._31TraWyqcARwZz8VjFobh li {
    min-height: 650px;
  }
}
._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz {
  background-color: #222;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//backgrounds/greyfade.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  border-top: 3px solid #ffffff50;
  border-bottom: 3px solid #ffffff50;
}
._3R99960iXgU4kJP14mYQhb
  ._3jMwaP_25T_0VglPAENGyz:hover
  ._3ws6ZJezypiCd4pHkPn5Vf {
  transform: translateY(3px);
}
._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._5fahvfEfUX7SPg9N8uSUe {
  font-size: 70px;
  font-family: "Reaver", serif;
  letter-spacing: 4px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
}
._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._3ws6ZJezypiCd4pHkPn5Vf {
  transform: translateY(30px);
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition-duration: 0.3s;
  max-height: 400px;
  pointer-events: none;
  filter: drop-shadow(0 0 1rem #000000);
  z-index: 5;
}
@media (max-width: 1600px) {
  ._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._3ws6ZJezypiCd4pHkPn5Vf {
    right: -5%;
    max-height: 300px;
  }
}
@media (max-width: 1200px) {
  ._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._3ws6ZJezypiCd4pHkPn5Vf {
    opacity: 0;
  }
}
@media (max-width: 900px) {
  ._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._3ws6ZJezypiCd4pHkPn5Vf {
    opacity: 0;
  }
}
._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._3ws6ZJezypiCd4pHkPn5Vf img {
  transition-duration: 0.3s;
}
._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._1uNVx1ildH8HKGFlK1QsU {
  padding: 100px 0px;
  padding-left: 100px;
  font-size: 24px;
  font-family: "Reaver", serif;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  ._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz ._1uNVx1ildH8HKGFlK1QsU {
    padding-left: 30px;
  }
}
._3R99960iXgU4kJP14mYQhb ._3jMwaP_25T_0VglPAENGyz .Jvvxrqazq9nd3pJbiVJIh {
  margin: 0px;
  margin: 20px 0px 0px 0px;
}
._3R99960iXgU4kJP14mYQhb ._2_zEbklWDPKXkTGuTQFtii {
  background-color: #111;
  padding: 100px 0px;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/wallpaper_bg.jpg");
  background-position: center bottom;
  background-size: cover;
  z-index: 10;
  position: relative;
}
._3R99960iXgU4kJP14mYQhb ._2_zEbklWDPKXkTGuTQFtii ._2d5kn_GdX27JcCCeMYaOU- {
  font-size: 40px;
  font-family: "Reaver", serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
  text-shadow: 0px 0px 10px #000;
}
._3R99960iXgU4kJP14mYQhb ._2_zEbklWDPKXkTGuTQFtii ._2YZ-KgZaa1FRzKx2Dv02-9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
._3R99960iXgU4kJP14mYQhb ._2_zEbklWDPKXkTGuTQFtii ._2C3wWHVuwcL6__p_Kc-vQv {
  height: 200px;
  background-color: #222;
  border: 1px solid #e7a34a;
  box-shadow: 0 0 24px #000;
  transition-duration: 0.2s;
  margin: 15px;
}
._3R99960iXgU4kJP14mYQhb ._2_zEbklWDPKXkTGuTQFtii ._2C3wWHVuwcL6__p_Kc-vQv img {
  height: 100%;
}
._3R99960iXgU4kJP14mYQhb
  ._2_zEbklWDPKXkTGuTQFtii
  ._2C3wWHVuwcL6__p_Kc-vQv:hover {
  filter: brightness(1.3);
  transform: translateY(-3px);
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey {
  background-color: #111;
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//blog/bg_repeater.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 2px solid #bb68ff;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._2x-ExHc3p8SiDxtNO862xH {
  background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//dawnbreaker/header_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey .zPcizO7VWTVYKxT_QJ_mn {
  width: 100%;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._1ggg2uRTK5dM0QormKp6Ze {
  font-size: 60px;
  font-family: "Reaver", serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 30px;
  z-index: 10;
  text-shadow: 0px 0px 30px #bb68ff;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._1GAs-761O7pkQnGe5PFEL6 {
  width: 100%;
  max-width: 1200px;
  z-index: 10;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._1fH7I-THlglAuGPY3IzCbX {
  background: linear-gradient(to right, #833312ff, #83331200);
  border-left: 2px solid #ff5005;
  font-size: 30px;
  font-weight: 600;
  font-family: "Reaver", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  padding: 12px 20px;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._3uiQFAOOGz6Y2keOs1xv2n {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 18px;
  padding-bottom: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.38) 3.07%,
    rgba(6, 37, 65, 0.3) 88.06%
  );
  box-shadow: 0px 0px 50px #000;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._2emsLXv8GQ9eG9dhSDJgfm {
  margin-bottom: 30px;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._2cx7f0T_CtsxmHp3hHprHo {
  width: 100%;
  height: 72px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
._3R99960iXgU4kJP14mYQhb
  .A8h6cEFuIDqx7lSr6Arey
  ._2cx7f0T_CtsxmHp3hHprHo
  ._2iHJQohayKQ1XFD8Ctka7x {
  width: 90px;
  height: 90px;
  box-shadow: 0px 0px 20px #000;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}
._3R99960iXgU4kJP14mYQhb
  .A8h6cEFuIDqx7lSr6Arey
  ._2cx7f0T_CtsxmHp3hHprHo
  ._10srkfX1jFB2BHcIux3HZ7 {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
._3R99960iXgU4kJP14mYQhb
  .A8h6cEFuIDqx7lSr6Arey
  ._2cx7f0T_CtsxmHp3hHprHo
  ._10srkfX1jFB2BHcIux3HZ7
  ._2kGT16ZUwpE7sb8K8XONKD {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Reaver", serif;
}
._3R99960iXgU4kJP14mYQhb
  .A8h6cEFuIDqx7lSr6Arey
  ._2cx7f0T_CtsxmHp3hHprHo
  ._10srkfX1jFB2BHcIux3HZ7
  ._3zDQw-vxwgOyqlJ6rK27vi {
  font-size: 16px;
  font-weight: bold;
  color: #ff715d;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey .JxLwHzN6Oax-2FNuvU5AT {
  font-size: 20px;
  color: #bbb;
  margin-bottom: 30px;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._3oLaGPfMe5n4NWfkhXo6J2 {
  width: 100%;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey .rK29-jNJ2tWJBe5e_EkUC {
  width: 100%;
  height: 2px;
  background-color: #ffffff10;
  margin: 40px 0px;
}
._3R99960iXgU4kJP14mYQhb .A8h6cEFuIDqx7lSr6Arey ._3xy7UHonIsh_FUgDIsHKLX {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
.I1mrPn37s6Apihmi9K-ri {
  width: 100%;
  position: relative;
}
.I1mrPn37s6Apihmi9K-ri .zZF39VkXUryDHJ3dEfv88 {
  position: absolute;
  bottom: 50px;
  background-color: #000;
  display: table;
  right: 15%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 2px 10px;
}
.I1mrPn37s6Apihmi9K-ri .zZF39VkXUryDHJ3dEfv88._1G1ll_w0yaktrTVt4-D_yW {
  left: 15%;
  right: 0;
}
.I1mrPn37s6Apihmi9K-ri img {
  width: 100%;
}
._1aWAcVv4khhRKQHKyqIDl5 {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
._3KCtpfqeVGR0eaqc5YB4iF {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
._3SX3hhAHRpb7bRPg9YLyR2 {
  width: 100%;
  position: relative;
}
._3SX3hhAHRpb7bRPg9YLyR2 ._3bKKQTvBpbxJ08XrDQJ4xn {
  position: absolute;
  bottom: 50px;
  background-color: #000;
  display: table;
  right: 15%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 2px 10px;
}
._3SX3hhAHRpb7bRPg9YLyR2 ._3bKKQTvBpbxJ08XrDQJ4xn.S0b_nhi5aY46bpyCNasDF {
  left: 15%;
  right: 0;
}
._3SX3hhAHRpb7bRPg9YLyR2 img {
  width: 100%;
}
._3o6_Ks0vSIsM1b7E9OlHj {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3o6_Ks0vSIsM1b7E9OlHj ._2kgUPa_RFGPVkckZE2a7ab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._3o6_Ks0vSIsM1b7E9OlHj ._1wY4IE4Lg3TreYGTu1DSxd {
  flex-grow: 1;
  height: 100%;
  margin: 0px 15px 0px 0px;
  text-align: center;
  color: #ffffff90;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  border-top: 2px solid #ffffff60;
  padding: 10px 0px;
  background-color: #07111a;
  cursor: pointer;
  user-select: none;
}
._3o6_Ks0vSIsM1b7E9OlHj ._1wY4IE4Lg3TreYGTu1DSxd.ZBQE3qlmuiEadHG7T6gCw {
  color: #fff;
  border-top: 2px solid #ff6046;
}
._3o6_Ks0vSIsM1b7E9OlHj ._15E7RnjZvLS7TPcNOg_MN8 {
  position: relative;
  width: 100%;
}
._3o6_Ks0vSIsM1b7E9OlHj ._15E7RnjZvLS7TPcNOg_MN8 ._2tKRoICKxcJBUHYRH5k9JZ {
  width: 100%;
  display: none;
}
._3o6_Ks0vSIsM1b7E9OlHj
  ._15E7RnjZvLS7TPcNOg_MN8
  ._2tKRoICKxcJBUHYRH5k9JZ.ZBQE3qlmuiEadHG7T6gCw {
  display: block;
}
