// 8046.css












* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
.primalbeast_Tooltip_2FBKv {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.primalbeast_CarouselFade_3qj-r {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
.primalbeast_StandardButton_AABmq {
  border: 3px solid #ffffff50;
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
.primalbeast_StandardButton_AABmq:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
.primalbeast_StandardButton_AABmq .primalbeast_ButtonText_fdxoH {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.primalbeast_StandardButton_AABmq .primalbeast_Icon_34Wav {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.primalbeast_StandardButton_AABmq
  .primalbeast_Icon_34Wav.primalbeast_Play_2JCY1 {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
.primalbeast_StandardButton_AABmq .primalbeast_SteamLogo_1vJld {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
.primalbeast_ToolTip_exPNn,
.primalbeast_PlayerReportTooltip_N7XaJ {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
.primalbeast_PlayerReportTooltip_N7XaJ {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.primalbeast_PrimalBeastPage_1loT6 {
  width: 100%;
  background-color: #000;
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_HeaderSection_35jV5 {
  width: 100%;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/primalbeast/pb_background.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000;
  overflow: hidden;
  display: block;
  position: relative;
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6 .primalbeast_HeaderSection_35jV5 {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/primalbeast/pb_background_mobile.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeaderSection_35jV5
  .primalbeast_BottomFade_1Qst_ {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(60%, rgba(0, 0, 0, 0)),
    color-stop(80%, rgba(0, 0, 0, 0.7)),
    color-stop(100%, black)
  );
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeaderSection_35jV5
  .primalbeast_BackgroundVideoContainer_3SEla {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeaderSection_35jV5
  .primalbeast_BackgroundVideoContainer_3SEla
  video {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, #2e2b0f 10%);
  mask-image: linear-gradient(to top, transparent 0%, #2e2b0f 100%);
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeaderSection_35jV5
  .primalbeast_BackgroundVideoContainer_3SEla
  .primalbeast_LeavesLeft_349MY {
  position: absolute;
  bottom: -100px;
  left: -60px;
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_HeaderSection_35jV5
    .primalbeast_BackgroundVideoContainer_3SEla
    .primalbeast_LeavesLeft_349MY {
    max-width: 55%;
    position: absolute;
    bottom: -20px;
    left: -10%;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeaderSection_35jV5
  .primalbeast_BackgroundVideoContainer_3SEla
  .primalbeast_LeavesRight_31uj6 {
  position: absolute;
  bottom: -100px;
  right: -60px;
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_HeaderSection_35jV5
    .primalbeast_BackgroundVideoContainer_3SEla
    .primalbeast_LeavesRight_31uj6 {
    max-width: 55%;
    position: absolute;
    bottom: -20px;
    right: -10%;
  }
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_TitleContainer_2fKTO {
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 28vw;
  z-index: 10;
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6 .primalbeast_TitleContainer_2fKTO {
    margin-bottom: 0px;
  }
}
@media (max-width: 900px) {
  .primalbeast_PrimalBeastPage_1loT6 .primalbeast_TitleContainer_2fKTO {
    padding-left: 20px;
    max-width: 80%;
  }
}
@keyframes primalbeast_rotate_22ADA {
  0% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_TitleIntro_3Ypgx {
  font-size: 25px;
  font-family: "Radiance", serif;
  letter-spacing: 5px;
  color: #ffe7ca;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow:
    2px 2px 4px #000,
    -2px 2px 4px #000;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_HeroName_3wAMj {
  font-size: 60px;
  line-height: 113%;
  font-family: "Reaver", serif;
  letter-spacing: 5px;
  font-weight: 600;
  color: #ffe7ca;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #000;
}
@media (max-width: 600px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_TitleContainer_2fKTO
    .primalbeast_HeroName_3wAMj {
    font-size: 40px;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_HeroLogo_UdiMm {
  max-width: 600px;
  width: 100%;
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_TitleContainer_2fKTO
    .primalbeast_HeroLogo_UdiMm {
    max-width: 90%;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_Complexity_17y_0 {
  align-self: center;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_Roles_88lTj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_Roles_88lTj
  .primalbeast_HeroRole_8DJKv {
  color: #ffe7ca;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "Radiance", serif;
  font-weight: 600;
  text-shadow:
    2px 2px 6px #000,
    -2px 2px 6px #000;
  padding-left: 20px;
  padding-right: 20px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_HeroIntro_2cS0o {
  color: #ffe7ca;
  font-family: "Radiance", serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow:
    2px 2px 4px #000,
    -2px 2px 4px #000;
  max-width: 700px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_LoreSection_mnIkJ {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
@media (max-width: 600px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_TitleContainer_2fKTO
    .primalbeast_LoreSection_mnIkJ {
    padding: 100px 12vw;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_LoreSection_mnIkJ
  .primalbeast_LoreHeader_1z6s0 {
  font-size: 30px;
  font-family: "Radiance", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  color: #ffe7ca;
  text-shadow:
    2px 2px 6px #000,
    -2px 2px 6px #000;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_TitleContainer_2fKTO
  .primalbeast_LoreSection_mnIkJ
  .primalbeast_LoreText_1IfTt {
  color: #ffe7ca;
  font-size: 22px;
  line-height: 170%;
  font-family: "Radiance", serif;
  text-shadow:
    2px 2px 4px #000,
    -2px 4px 4px #000;
  margin-bottom: 20px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1100px;
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_AbilitySection_2yK1C {
  background-color: #000;
  min-height: 500px;
  max-height: 80vh;
  position: relative;
  border-top: 2px solid #99b9d3;
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_AbilitySection_2yK1C button {
  filter: saturate(0);
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  button:disabled {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px #ff2f14;
  filter: saturate(1);
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_SlideContainer_2apDu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_CarouselDots_3BQj6 {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_CarouselDots_3BQj6
  .primalbeast_AbilitySelector_2D9KZ {
  width: 70px;
  height: 70px;
  margin: 0px 5px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_CarouselDots_3BQj6
  .primalbeast_Slide0_2TxMd {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//primalbeast/primal_beast_onslaught_point.png");
  background-size: cover;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_CarouselDots_3BQj6
  .primalbeast_Slide1_12Wwr {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//primalbeast/primal_beast_heavysteps.png");
  background-size: cover;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_CarouselDots_3BQj6
  .primalbeast_Slide2_2pomp {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//primalbeast/primal_beast_inhibition.png");
  background-size: cover;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_CarouselDots_3BQj6
  .primalbeast_Slide3_3zX2B {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//primalbeast/primal_beast_pummel.png");
  background-size: cover;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_SlideAbilityContainer_1GE-x {
  color: #fff;
  background-color: #000000c5;
  background-size: 100% 100%;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ff2f1440;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(20px);
  z-index: 20;
}
@media (max-width: 600px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_AbilitySection_2yK1C
    .primalbeast_SlideAbilityContainer_1GE-x {
    position: relative;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_SlideAbilityIcon_39XW0 {
  object-fit: contain;
  margin-right: 20px;
  width: 25%;
  max-width: 200px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_AbilityName_3uADO {
  font-family: "Reaver", serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4px;
  text-shadow: 2px 2px 0px #00000090;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_AbilitySection_2yK1C
  .primalbeast_AbilityDesc_1dyzF {
  font-size: 18px;
  color: #bbb;
  line-height: 140%;
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_AbilitySection_2yK1C video {
  height: 100%;
  width: 100%;
}
@media (max-width: 1600px) {
  .primalbeast_PrimalBeastPage_1loT6 .primalbeast_AbilitySection_2yK1C video {
    height: 100%;
    width: 100%;
    max-width: 2000px;
  }
}
@media (max-width: 600px) {
  .primalbeast_PrimalBeastPage_1loT6 .primalbeast_AbilitySection_2yK1C li {
    min-height: 650px;
  }
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_HeropediaSection_33H2U {
  background-color: #222;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//backgrounds/greyfade.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  box-shadow: 0px 0px 20px #000;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeropediaSection_33H2U:hover
  .primalbeast_HeropediaImage_2kyS3 {
  transform: translateY(3px);
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_HeropediaHeader_1Nx4- {
  color: #fff;
  font-size: 70px;
  font-family: "Reaver", serif;
  letter-spacing: 4px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_HeropediaImage_2kyS3 {
  transform: translateY(20px);
  position: absolute;
  right: 100px;
  bottom: 0px;
  transition-duration: 0.3s;
  height: 100%;
  max-height: 100%;
  pointer-events: none;
  filter: drop-shadow(0 0 1rem #000000);
  z-index: 5;
}
@media (max-width: 1600px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_HeropediaSection_33H2U
    .primalbeast_HeropediaImage_2kyS3 {
    right: -5%;
    max-height: 300px;
  }
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_HeropediaSection_33H2U
    .primalbeast_HeropediaImage_2kyS3 {
    opacity: 0;
  }
}
@media (max-width: 900px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_HeropediaSection_33H2U
    .primalbeast_HeropediaImage_2kyS3 {
    opacity: 0;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_HeropediaImage_2kyS3
  img {
  transition-duration: 0.3s;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_HeropediaText_13tEB {
  color: #fff;
  padding: 100px 0px;
  padding-left: 100px;
  font-size: 24px;
  font-family: "Reaver", serif;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
}
@media (max-width: 600px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_HeropediaSection_33H2U
    .primalbeast_HeropediaText_13tEB {
    padding-left: 30px;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_StandardButton_AABmq {
  margin: 0px;
  margin: 20px 0px 0px 0px;
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_WallpaperSection_Fi9K- {
  height: 400px;
  background-color: #000;
  padding: 100px 0px;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//primalbeast/pb_wallpapers_bg.jpg");
  background-position: center bottom;
  background-size: cover;
  z-index: 10;
  position: relative;
  border-top: 2px solid #99b9d3;
}
@media (max-width: 1200px) {
  .primalbeast_PrimalBeastPage_1loT6 .primalbeast_WallpaperSection_Fi9K- {
    height: 650px;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_WallpaperSection_Fi9K-
  .primalbeast_WallpaperTitle_2SyKf {
  color: #ffe7ca;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "Radiance", serif;
  font-weight: 600;
  text-shadow: 0px 2px 4px #000;
  text-align: center;
  margin-bottom: 30px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_WallpaperSection_Fi9K-
  .primalbeast_Wallpapers_B3Geh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_WallpaperSection_Fi9K-
  .primalbeast_WallpaperGroup_3Ehrq {
  display: flex;
  flex-direction: row;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_WallpaperSection_Fi9K-
  .primalbeast_Wallpaper_1hsc3 {
  height: 200px;
  background-color: #222;
  border: 1.5px solid #b1470a;
  box-shadow: 0 0 20px #810f00;
  transition-duration: 0.2s;
  margin: 15px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_WallpaperSection_Fi9K-
  .primalbeast_Wallpaper_1hsc3
  img {
  height: 100%;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_WallpaperSection_Fi9K-
  .primalbeast_Wallpaper_1hsc3:hover {
  filter: brightness(1.3);
  transform: translateY(-3px);
}
.primalbeast_PrimalBeastPage_1loT6 .primalbeast_PatchSection_1VHhm {
  background-color: #111;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//blog/bg_repeater.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_Divider_JCYR8 {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//primalbeast/patch_header.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchTitle_5txd6 {
  font-size: 50px;
  color: #ffe7ca;
  font-family: "Radiance", serif;
  text-shadow: 0px 0px 30px #ff2f14;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  z-index: 10;
  width: 100%;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchImage_3GGOr {
  width: 100%;
  margin-bottom: -5px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_ShowcaseVideo_O5eiP {
  padding: 10px;
  margin-bottom: 20px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_CreepsSection_2xsXR {
  margin-bottom: 30px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchContainer_2WmfK {
  width: 100%;
  max-width: 1000px;
  z-index: 10;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_HeaderLabel_3puUP {
  background: linear-gradient(to right, #833312ff, #83331200);
  border-left: 2px solid #ff5005;
  font-size: 30px;
  font-weight: 600;
  font-family: "Reaver", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  padding: 12px 20px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchContent_J7JEA {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.38) 3.07%,
    rgba(6, 37, 65, 0.3) 88.06%
  );
  box-shadow: 0px 0px 50px #000;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_CreepChangeDescription_2Ok6H {
  font-size: 20px;
  color: #bbb;
  margin-bottom: 40px;
  align-self: center;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchCreepsImage_1DH4N {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesChangeDescription_3Ym0E {
  font-size: 20px;
  color: #bbb;
  margin-bottom: 40px;
  align-self: center;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchTechiesImage_32S9_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  margin-top: 40px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_ItemChangeDescription_13Akm {
  font-size: 20px;
  color: #bbb;
  margin-bottom: 40px;
  padding: 0px 40px;
  align-self: center;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_PatchItemsImage_VFg98 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_LowerPatch_KhTWp {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilitiesTitle_l3mk4 {
  font-size: 16px;
  font-family: "Radiance", serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff90;
  margin-left: 2%;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ
  .primalbeast_TechiesAbility_pXMMr {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 2%;
  color: #fff;
}
@media (max-width: 900px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_PatchSection_1VHhm
    .primalbeast_TechiesAbilities_1vjVZ
    .primalbeast_TechiesAbility_pXMMr {
    flex-direction: column;
    width: 100%;
    margin: 2%;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ
  .primalbeast_TechiesAbility_pXMMr
  .primalbeast_TechiesAbilityImage_3h0kk {
  box-shadow: 0px 0px 2px #000;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ
  .primalbeast_TechiesAbility_pXMMr
  .primalbeast_TechiesAbilityContent_TFKgh {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
@media (max-width: 900px) {
  .primalbeast_PrimalBeastPage_1loT6
    .primalbeast_PatchSection_1VHhm
    .primalbeast_TechiesAbilities_1vjVZ
    .primalbeast_TechiesAbility_pXMMr
    .primalbeast_TechiesAbilityContent_TFKgh {
    margin-left: 0px;
  }
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ
  .primalbeast_TechiesAbility_pXMMr
  .primalbeast_TechiesAbilityContent_TFKgh
  .primalbeast_TechiesAbilityTitle_32KTy {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: "Reaver", serif;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ
  .primalbeast_TechiesAbility_pXMMr
  .primalbeast_TechiesAbilityContent_TFKgh
  .primalbeast_NewAbilityLabel_3gTPJ {
  font-size: 12px;
  font-family: "Radiance", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4391ff;
  padding: 2px 5px 0px 5px;
  text-shadow: 0px 0px 2px #000;
  border-radius: 3px;
  margin-left: 10px;
  max-height: 19px;
  display: inline-block;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesAbilities_1vjVZ
  .primalbeast_TechiesAbility_pXMMr
  .primalbeast_TechiesAbilityContent_TFKgh
  .primalbeast_TechiesAbilityDesc_kNIsa {
  font-size: 20px;
  color: #ffffff90;
  font-family: "Radiance", sans-serif;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesSection_1VVnN
  .primalbeast_HeropediaSection_33H2U {
  margin-bottom: 40px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesSection_1VVnN
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_HeropediaText_13tEB {
  padding-left: 50px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesSection_1VVnN
  .primalbeast_HeropediaSection_33H2U
  .primalbeast_HeropediaImage_2kyS3 {
  right: -5%;
  max-height: 300px;
}
.primalbeast_PrimalBeastPage_1loT6
  .primalbeast_PatchSection_1VHhm
  .primalbeast_TechiesSection_1VVnN
  .primalbeast_PatchContent_J7JEA {
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.arrows_RightArrow_1aWAc {
  width: 20px;
  height: 20px;
  margin: 0px 8px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateZ(180deg);
}
.arrows_UpRightArrow_3KCtp {
  width: 20px;
  height: 20px;
  margin: 0px 4px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateZ(135deg);
  filter: brightness(0.7);
}
