// 65868.css












* {
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.Bold {
  font-weight: bold;
}
.Spoiler {
  background-color: #000 !important;
  color: #000 !important;
}
.Spoiler:hover {
  color: #fff !important;
}
.Strike {
  text-decoration: line-through;
  font-family: "Reaver", serif;
}
[data-aos="fade-zoom-in"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: scale(0);
}
[data-aos="fade-zoom-in"] &.aos-animate {
  opacity: 1;
  transform: scale(1);
}
[data-aos="fade-slide-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-40%);
}
[data-aos="fade-slide-right"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(40%);
}
[data-aos="fade-slide-left"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(40%);
}
[data-aos="fade-slide-up"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="fade-slide-down"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(-40%);
}
[data-aos="fade-slide-down"] &.aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="rotate"] {
  transition-property: transform;
  transform: rotateZ(0deg);
}
[data-aos="rotate"] &[data-aos-rotate-bottom] {
  transform-origin: bottom center;
}
[data-aos="rotate"] &[data-aos-rotate="10"].aos-animate {
  transform: rotateZ(10deg);
}
[data-aos="rotate"] &[data-aos-rotate="20"].aos-animate {
  transform: rotateZ(20deg);
}
[data-aos="rotate"] &[data-aos-rotate="30"].aos-animate {
  transform: rotateZ(30deg);
}
[data-aos="rotate"] &[data-aos-rotate="40"].aos-animate {
  transform: rotateZ(40deg);
}
[data-aos="rotate"] &[data-aos-rotate="50"].aos-animate {
  transform: rotateZ(50deg);
}
[data-aos="rotate"] &[data-aos-rotate="60"].aos-animate {
  transform: rotateZ(60deg);
}
[data-aos="rotate"] &[data-aos-rotate="70"].aos-animate {
  transform: rotateZ(70deg);
}
[data-aos="rotate"] &[data-aos-rotate="80"].aos-animate {
  transform: rotateZ(80deg);
}
[data-aos="rotate"] &[data-aos-rotate="90"].aos-animate {
  transform: rotateZ(90deg);
}
[data-aos="rotate"] &[data-aos-rotate="100"].aos-animate {
  transform: rotateZ(100deg);
}
[data-aos="rotate"] &[data-aos-rotate="110"].aos-animate {
  transform: rotateZ(110deg);
}
[data-aos="rotate"] &[data-aos-rotate="120"].aos-animate {
  transform: rotateZ(120deg);
}
[data-aos="rotate"] &[data-aos-rotate="130"].aos-animate {
  transform: rotateZ(130deg);
}
[data-aos="rotate"] &[data-aos-rotate="140"].aos-animate {
  transform: rotateZ(140deg);
}
[data-aos="rotate"] &[data-aos-rotate="150"].aos-animate {
  transform: rotateZ(150deg);
}
[data-aos="rotate"] &[data-aos-rotate="160"].aos-animate {
  transform: rotateZ(160deg);
}
[data-aos="rotate"] &[data-aos-rotate="170"].aos-animate {
  transform: rotateZ(170deg);
}
[data-aos="rotate"] &[data-aos-rotate="180"].aos-animate {
  transform: rotateZ(180deg);
}
[data-aos="rotate"] &[data-aos-rotate="190"].aos-animate {
  transform: rotateZ(190deg);
}
[data-aos="rotate"] &[data-aos-rotate="200"].aos-animate {
  transform: rotateZ(200deg);
}
[data-aos="rotate"] &[data-aos-rotate="210"].aos-animate {
  transform: rotateZ(210deg);
}
[data-aos="rotate"] &[data-aos-rotate="220"].aos-animate {
  transform: rotateZ(220deg);
}
[data-aos="rotate"] &[data-aos-rotate="230"].aos-animate {
  transform: rotateZ(230deg);
}
[data-aos="rotate"] &[data-aos-rotate="240"].aos-animate {
  transform: rotateZ(240deg);
}
[data-aos="rotate"] &[data-aos-rotate="250"].aos-animate {
  transform: rotateZ(250deg);
}
[data-aos="rotate"] &[data-aos-rotate="260"].aos-animate {
  transform: rotateZ(260deg);
}
[data-aos="rotate"] &[data-aos-rotate="270"].aos-animate {
  transform: rotateZ(270deg);
}
[data-aos="rotate"] &[data-aos-rotate="280"].aos-animate {
  transform: rotateZ(280deg);
}
[data-aos="rotate"] &[data-aos-rotate="290"].aos-animate {
  transform: rotateZ(290deg);
}
[data-aos="rotate"] &[data-aos-rotate="300"].aos-animate {
  transform: rotateZ(300deg);
}
[data-aos="rotate"] &[data-aos-rotate="310"].aos-animate {
  transform: rotateZ(310deg);
}
[data-aos="rotate"] &[data-aos-rotate="320"].aos-animate {
  transform: rotateZ(320deg);
}
[data-aos="rotate"] &[data-aos-rotate="330"].aos-animate {
  transform: rotateZ(330deg);
}
[data-aos="rotate"] &[data-aos-rotate="340"].aos-animate {
  transform: rotateZ(340deg);
}
[data-aos="rotate"] &[data-aos-rotate="350"].aos-animate {
  transform: rotateZ(350deg);
}
[data-aos="rotate"] &[data-aos-rotate="-10"].aos-animate {
  transform: rotateZ(-10deg);
}
[data-aos="rotate"] &[data-aos-rotate="-20"].aos-animate {
  transform: rotateZ(-20deg);
}
[data-aos="rotate"] &[data-aos-rotate="-30"].aos-animate {
  transform: rotateZ(-30deg);
}
[data-aos="rotate"] &[data-aos-rotate="-40"].aos-animate {
  transform: rotateZ(-40deg);
}
[data-aos="rotate"] &[data-aos-rotate="-50"].aos-animate {
  transform: rotateZ(-50deg);
}
[data-aos="rotate"] &[data-aos-rotate="-60"].aos-animate {
  transform: rotateZ(-60deg);
}
[data-aos="rotate"] &[data-aos-rotate="-70"].aos-animate {
  transform: rotateZ(-70deg);
}
[data-aos="rotate"] &[data-aos-rotate="-80"].aos-animate {
  transform: rotateZ(-80deg);
}
[data-aos="rotate"] &[data-aos-rotate="-90"].aos-animate {
  transform: rotateZ(-90deg);
}
[data-aos="rotate"] &[data-aos-rotate="-100"].aos-animate {
  transform: rotateZ(-100deg);
}
[data-aos="rotate"] &[data-aos-rotate="-110"].aos-animate {
  transform: rotateZ(-110deg);
}
[data-aos="rotate"] &[data-aos-rotate="-120"].aos-animate {
  transform: rotateZ(-120deg);
}
[data-aos="rotate"] &[data-aos-rotate="-130"].aos-animate {
  transform: rotateZ(-130deg);
}
[data-aos="rotate"] &[data-aos-rotate="-140"].aos-animate {
  transform: rotateZ(-140deg);
}
[data-aos="rotate"] &[data-aos-rotate="-150"].aos-animate {
  transform: rotateZ(-150deg);
}
[data-aos="rotate"] &[data-aos-rotate="-160"].aos-animate {
  transform: rotateZ(-160deg);
}
[data-aos="rotate"] &[data-aos-rotate="-170"].aos-animate {
  transform: rotateZ(-170deg);
}
[data-aos="rotate"] &[data-aos-rotate="-180"].aos-animate {
  transform: rotateZ(-180deg);
}
[data-aos="rotate"] &[data-aos-rotate="-190"].aos-animate {
  transform: rotateZ(-190deg);
}
[data-aos="rotate"] &[data-aos-rotate="-200"].aos-animate {
  transform: rotateZ(-200deg);
}
[data-aos="rotate"] &[data-aos-rotate="-210"].aos-animate {
  transform: rotateZ(-210deg);
}
[data-aos="rotate"] &[data-aos-rotate="-220"].aos-animate {
  transform: rotateZ(-220deg);
}
[data-aos="rotate"] &[data-aos-rotate="-230"].aos-animate {
  transform: rotateZ(-230deg);
}
[data-aos="rotate"] &[data-aos-rotate="-240"].aos-animate {
  transform: rotateZ(-240deg);
}
[data-aos="rotate"] &[data-aos-rotate="-250"].aos-animate {
  transform: rotateZ(-250deg);
}
[data-aos="rotate"] &[data-aos-rotate="-260"].aos-animate {
  transform: rotateZ(-260deg);
}
[data-aos="rotate"] &[data-aos-rotate="-270"].aos-animate {
  transform: rotateZ(-270deg);
}
[data-aos="rotate"] &[data-aos-rotate="-280"].aos-animate {
  transform: rotateZ(-280deg);
}
[data-aos="rotate"] &[data-aos-rotate="-290"].aos-animate {
  transform: rotateZ(-290deg);
}
[data-aos="rotate"] &[data-aos-rotate="-300"].aos-animate {
  transform: rotateZ(-300deg);
}
[data-aos="rotate"] &[data-aos-rotate="-310"].aos-animate {
  transform: rotateZ(-310deg);
}
[data-aos="rotate"] &[data-aos-rotate="-320"].aos-animate {
  transform: rotateZ(-320deg);
}
[data-aos="rotate"] &[data-aos-rotate="-330"].aos-animate {
  transform: rotateZ(-330deg);
}
[data-aos="rotate"] &[data-aos-rotate="-340"].aos-animate {
  transform: rotateZ(-340deg);
}
[data-aos="rotate"] &[data-aos-rotate="-350"].aos-animate {
  transform: rotateZ(-350deg);
}
.carousel__slide-focus-ring {
  outline: none !important;
}
.carousel__dot:focus {
  outline: none !important;
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}
._2VI11vARYNj1_iyiGNypQA {
  text-transform: uppercase;
  letter-spacing: 1px;
}
._2afEkOrBY2Dl393tA1EAB5 {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance.ttf")
      format("truetype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-bold.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf")
      format("truetype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf")
      format("truetype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Goudy Trajan";
  src: url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/notosans-regular.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/notosans-bold.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif Libre";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Reaver";
  src:
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff")
      format("woff"),
    url("https://cdn.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
._1OLiq-jpA70Vy8LE5qjbZM {
  border: 3px solid hsla(0, 0%, 100%, 0.3137254902);
  padding: 15px 25px;
  margin: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 0.2s;
}
._1OLiq-jpA70Vy8LE5qjbZM:hover {
  border: 3px solid #ff6046;
  transform: translateY(-2px);
  color: #ff6046;
}
._1OLiq-jpA70Vy8LE5qjbZM ._3YuE8_EYEy8ywLoxRFGk9r {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
@media (max-width: 900px) {
  ._1OLiq-jpA70Vy8LE5qjbZM ._3YuE8_EYEy8ywLoxRFGk9r {
    font-size: 16px;
  }
}
._1OLiq-jpA70Vy8LE5qjbZM .cMvltywwHjireQUo9hswr {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
._1OLiq-jpA70Vy8LE5qjbZM .cMvltywwHjireQUo9hswr.y6QXbxiVMyCkpDYrddKe0 {
  background-image: url("https://cdn.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg");
}
._1OLiq-jpA70Vy8LE5qjbZM .hTpbXwed3_k9hEWKWfPC8 {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg");
}
._1k7cE5GvRSnGsAT6QrVux3,
._1fJ7IgPhNsgb7EGg3HiAHB {
  background-color: #36363e;
  color: #ddd;
  max-width: 250px;
  border: 1px solid #2d2d33;
  border-radius: 3px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  z-index: 99999;
}
._1fJ7IgPhNsgb7EGg3HiAHB {
  max-width: none;
}
.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactVirtualized__Table__headerColumn {
  margin-right: 5px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  margin-right: 5px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 5px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}
.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
  margin: 0px;
  color: #f5f5f5;
  font-size: 17px;
  letter-spacing: 0.5px;
  text-wrap: pretty;
}
._1XN7tVCtz_zVslBnVhOyh {
  font-family: "Reaver", serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 1.2;
}
._3O1Knhv6tcIUkm-OqoO7ze {
  font-size: clamp(24px, 1.5rem + 56 * (100vw - 360px)/1560, 80px);
  font-weight: 700;
  text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}
._3hlsTHV3Si72jpwGsst9Op {
  font-size: clamp(20px, 1.25rem + 36 * (100vw - 360px)/1560, 56px);
  text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}
._7NuCiwX4De2g75q4Cqa4R {
  font-size: clamp(16px, 1rem + 20 * (100vw - 360px)/1560, 36px);
}
._1JaoHhZSwGCl3v-SE7FecI {
  font-size: clamp(14px, 0.875rem + 10 * (100vw - 360px)/1560, 24px);
}
._1sm6cS7SJD9Mpyt7wdBUou {
  font-size: clamp(12px, 0.875rem + 8 * (100vw - 360px)/1560, 20px);
}
._18sWvPtUg0F5HMvTXESjqN {
  font-family: "Reaver", serif;
  line-height: 1.5;
}
._3g4CWu3T7Ywnff3Qu4FaCm {
  font-size: clamp(19px, 1.375rem + 25 * (100vw - 360px)/1560, 44px);
}
._1NWcn82ArE9jkIpR-8f-iz {
  font-size: clamp(17px, 1.0625rem + 19 * (100vw - 360px)/1560, 36px);
}
._1FwmE_oYvFiLKkCmdM0ucR {
  font-size: clamp(15px, 0.9375rem + 15 * (100vw - 360px)/1560, 30px);
}
._64eVd0GXQ3PcnxyO9rLWA {
  font-size: clamp(13px, 0.8125rem + 11 * (100vw - 360px)/1560, 24px);
}
.uDjlPg4_h4vWusMzWaYVZ {
  font-family: "Radiance", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.2px;
}
._1utLhaIbwhFyQcZ_tts8I2 {
  font-size: clamp(18px, 1.125rem + 8 * (100vw - 360px)/1560, 26px);
}
._2-FXfinlTXtyzQndpK6Qit {
  font-size: clamp(16px, 1rem + 6 * (100vw - 360px)/1560, 22px);
}
._3oCd3hpMZOSqRct-LaqLmY {
  font-size: clamp(15px, 0.9375rem + 4 * (100vw - 360px)/1560, 19px);
}
._11tJrQddnwEZyNZ6V8-ivF {
  font-size: clamp(12px, 0.75rem + 2 * (100vw - 360px)/1560, 14px);
}
._7Ap0NoBVVSMRf-wjF6szv {
  font-family: "Radiance", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._21gmkIb5fH1XV73DXJ5zGJ {
  font-size: clamp(18px, 1.125rem + 8 * (100vw - 360px)/1560, 26px);
  font-weight: 700;
}
._2zIMj_u_MJdvZOxOvQflj- {
  font-size: clamp(16px, 1rem + 6 * (100vw - 360px)/1560, 22px);
  font-weight: 700;
}
.kIZyaIiVwPIm7k7F4RsJm {
  font-size: clamp(14px, 0.875rem + 4 * (100vw - 360px)/1560, 18px);
  font-weight: 600;
}
._2ip1Fi3Y0QxiPYct_U7oeS {
  font-size: clamp(12px, 0.75rem + 2 * (100vw - 360px)/1560, 14px);
  font-weight: 300;
}
._2HZUM7TPeAaj6H8kqsElCh {
  color: #bac1d3;
}
._1Qt7d-UkkSKJNarBmd7_13 {
  color: #878c99;
}
._1tn7CYjf0crBGCanF50h9W {
  width: 20px;
  height: 20px;
  background-size: cover;
}
._7NuCiwX4De2g75q4Cqa4R {
  color: #e4e8f4;
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
._24p0CQiud9Ya_RKUzKsSpK .SOhzhphkvqx0xspe0FKqX {
  gap: 1vw;
}
._24p0CQiud9Ya_RKUzKsSpK .SOhzhphkvqx0xspe0FKqX ._1_kp2lXojkoCRNyPZOSQGr {
  font-size-adjust: 0.8;
  font-weight: 600;
}
._24p0CQiud9Ya_RKUzKsSpK ._1Tl4tshpX8875I9mt54xet {
  align-items: center;
}
._24p0CQiud9Ya_RKUzKsSpK ._1Tl4tshpX8875I9mt54xet ._2qm0jpxh3OM7vDEodHIieY {
  width: 90%;
  margin: -3vw 0 -4vw;
}
@media (max-width: 600px) {
  ._24p0CQiud9Ya_RKUzKsSpK ._1Tl4tshpX8875I9mt54xet ._2qm0jpxh3OM7vDEodHIieY {
    width: 100%;
  }
}
._24p0CQiud9Ya_RKUzKsSpK ._1Tl4tshpX8875I9mt54xet p {
  z-index: 1;
}
._24p0CQiud9Ya_RKUzKsSpK ._1Tl4tshpX8875I9mt54xet ._7Zx-BH-WZskLy5hO74UrX {
  width: 60%;
}
@media (max-width: 900px) {
  ._24p0CQiud9Ya_RKUzKsSpK ._1Tl4tshpX8875I9mt54xet ._7Zx-BH-WZskLy5hO74UrX {
    width: 100%;
    text-align: left;
  }
}
._24p0CQiud9Ya_RKUzKsSpK .Tg3Yx-u8Lx__b3yeTR6tQ {
  width: 60%;
}
@media (max-width: 900px) {
  ._24p0CQiud9Ya_RKUzKsSpK .Tg3Yx-u8Lx__b3yeTR6tQ {
    text-align: left;
    width: 100%;
  }
}
._3XMwpRvL2HWX3Bien18_tD._3V40Y8L-u-_LLR9YZUIlVL {
  display: none;
}
._2gfbhlpzD4gMF1I6FLrX9G {
  -webkit-text-size-adjust: none;
  width: 100%;
  background-color: #0c0c0d;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
._1xgvoKWysMlSVLnckRkcx4 {
  background-size: 100%;
  background-repeat: repeat-y;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._1xgvoKWysMlSVLnckRkcx4 ._1hIZjXbe5yiHSD2bn_Z7ns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1600px;
  gap: calc(1vw + 12px);
  padding: 0px calc(2vw + 12px);
  margin: calc(5vw + 24px) 0px;
}
@media (max-width: 1200px) {
  ._1xgvoKWysMlSVLnckRkcx4 ._1hIZjXbe5yiHSD2bn_Z7ns {
    width: 100%;
  }
}
._1xgvoKWysMlSVLnckRkcx4 .aL0m2ai-E2NN5VmRrXnyB {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: calc(6px + 0.5vw);
}
@media (max-width: 900px) {
  ._1xgvoKWysMlSVLnckRkcx4 .aL0m2ai-E2NN5VmRrXnyB {
    width: 100%;
  }
}
._1OLiq-jpA70Vy8LE5qjbZM {
  margin: 0px;
  margin-top: 1vw;
  backdrop-filter: blur(16px);
}
@media (max-width: 600px) {
  ._1OLiq-jpA70Vy8LE5qjbZM {
    width: 100%;
    border-width: 2px;
  }
}
._33XE9fPpQnlBagi2n98LL2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
}
.Xjvca9xp8V2xlstoS5VhD {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to left, #0d0e10, #262a2e, #0d0e10);
  overflow: hidden;
}
.Xjvca9xp8V2xlstoS5VhD ._2TIJcp8-nNtZsWIwtnB9Vr {
  width: 100%;
  height: 32px;
  position: absolute;
  mix-blend-mode: overlay;
  background-image: url("https://cdn.steamstatic.com/apps/dota2/images/dota_react/global/rock_texture.png");
  background-size: 120px;
  opacity: 0.3;
}
.Xjvca9xp8V2xlstoS5VhD ._1n-zCmsADbj_LcqRU_xNew {
  width: 100%;
  height: 32px;
  background: linear-gradient(to top, white, black);
  position: absolute;
  mix-blend-mode: overlay;
  opacity: 0.5;
}
.Xjvca9xp8V2xlstoS5VhD ._3iciUPi96UZ0eyRZajJgoi,
.Xjvca9xp8V2xlstoS5VhD ._2v7ffFhzJ8tHttE6XYUz1C {
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, #111218, #ff6046, #111218);
  position: relative;
  box-shadow: 0px 1px 3px #000;
  border-top: 1px solid;
  border-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    )
    1;
}
._3xtxjdRnTgFe1VIMP64TJR {
  width: 100%;
  margin-bottom: calc(0px - 14vw);
}
._3xtxjdRnTgFe1VIMP64TJR ._3iciUPi96UZ0eyRZajJgoi {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to left,
    rgba(219, 237, 255, 0),
    rgba(219, 237, 255, 0.1333333333),
    rgba(219, 237, 255, 0.2),
    rgba(219, 237, 255, 0.1333333333),
    rgba(219, 237, 255, 0)
  );
  border-top: 1px solid;
  border-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0)
    )
    1;
}
._3xtxjdRnTgFe1VIMP64TJR ._28jlVlODxSPk2oemuukBxG {
  width: 100%;
  height: 14vw;
  background: radial-gradient(
    ellipse at top,
    rgba(219, 237, 255, 0.0666666667) 0,
    rgba(219, 237, 255, 0) 65%
  );
}
._3Q8t8hKlCXa9wk8icavBLa {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: calc(16px + 1.4vw);
}
@media (max-width: 900px) {
  ._3Q8t8hKlCXa9wk8icavBLa {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
._1ZoXt-eHhdelGoxxvxS4x8 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: calc(16px + 1.4vw);
  z-index: 1;
}
@media (max-width: 900px) {
  ._1ZoXt-eHhdelGoxxvxS4x8 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
._3VAS8F3WT4mh_15IAihasg {
  display: flex;
  flex-direction: column;
  gap: calc(12px + 1.2vw);
}
._3VAS8F3WT4mh_15IAihasg img,
._3VAS8F3WT4mh_15IAihasg video {
  width: 100%;
}
@media (max-width: 900px) {
  ._3VAS8F3WT4mh_15IAihasg {
    flex-direction: row;
    align-items: center;
  }
  ._3VAS8F3WT4mh_15IAihasg img,
  ._3VAS8F3WT4mh_15IAihasg video {
    width: 40%;
  }
  ._3VAS8F3WT4mh_15IAihasg ._39PwkE8hQvMQMlVXNvF6p0 {
    width: 100%;
  }
  ._3VAS8F3WT4mh_15IAihasg ._39PwkE8hQvMQMlVXNvF6p0 p {
    text-align: left;
  }
}
.SNFkRC3wxM79ZB03BsGRt {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  width: 70%;
  max-width: 1600px;
  z-index: 1;
}
@media (max-width: 1600px) {
  .SNFkRC3wxM79ZB03BsGRt {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .SNFkRC3wxM79ZB03BsGRt {
    width: 100%;
  }
}
._3oFeaylfskB4eFOA12CuF9 {
  width: 100%;
}
._2UVlOBTwEAgcGUOpp0YW7D {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
._2UVlOBTwEAgcGUOpp0YW7D Img {
  width: 20px !important;
  height: 20px;
}
._2UVlOBTwEAgcGUOpp0YW7D p {
  color: #ffd079;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
.FJKghJJeqKTyZdwr9GV6G {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
._3A59yqWBhLkAy6N0n7J02J {
  position: absolute;
  width: 100%;
  height: 110vw;
  background: linear-gradient(to bottom, #071315 50%, rgba(0, 0, 0, 0) 100%);
}
._1ib1POFlvpDzIejXqqWvUU {
  width: 190%;
  margin-bottom: -36%;
}
@media (max-width: 900px) {
  ._1ib1POFlvpDzIejXqqWvUU {
    width: 270%;
    margin-bottom: -50%;
  }
}
@media (min-width: 1920px) {
  ._1ib1POFlvpDzIejXqqWvUU {
    width: 170%;
    margin-bottom: -33%;
  }
}
.SOhzhphkvqx0xspe0FKqX {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  width: 80%;
  text-shadow: 0px 10px 24px rgba(0, 0, 0, 0.4);
}
@media (max-width: 900px) {
  .SOhzhphkvqx0xspe0FKqX {
    width: 95%;
  }
}
.SOhzhphkvqx0xspe0FKqX ._3O1Knhv6tcIUkm-OqoO7ze {
  font-weight: 600;
}
.SOhzhphkvqx0xspe0FKqX .n28ftMlHYhYodn0x4JaQ {
  color: #e2debf;
}
._3rzs5iyGR0Rl3p8DRLYNsB {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 16px;
}
._3rzs5iyGR0Rl3p8DRLYNsB .RMMaXrPP1MUu1dCISDUG6 {
  flex: none;
  color: #ff6046;
}
._3rzs5iyGR0Rl3p8DRLYNsB ._3ECiPgYNRUop7kKpEhmEge {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 1px;
  background: linear-gradient(to left, #545760, rgba(255, 255, 255, 0));
  opacity: 0;
}
._3rzs5iyGR0Rl3p8DRLYNsB ._2d-EPskPLal5hj6qaVyxVr {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 1px;
  background: linear-gradient(to right, #545760, rgba(255, 255, 255, 0));
  opacity: 0;
}
._39PwkE8hQvMQMlVXNvF6p0 {
  display: flex;
  flex-direction: column;
  gap: calc(4px + 0.5vw);
}
._2WgOyU6v4L_Kt_Zx-i8O42 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(12px + 1.2vw);
}
._2WgOyU6v4L_Kt_Zx-i8O42 img,
._2WgOyU6v4L_Kt_Zx-i8O42 video {
  width: 50%;
}
._2WgOyU6v4L_Kt_Zx-i8O42 ._39PwkE8hQvMQMlVXNvF6p0 {
  width: 50%;
}
._2WgOyU6v4L_Kt_Zx-i8O42 ._39PwkE8hQvMQMlVXNvF6p0 p {
  text-align: left;
}
._2WgOyU6v4L_Kt_Zx-i8O42._2ZpZRIkGnB6RBOx_5htBht {
  flex-direction: row-reverse;
}
._2WgOyU6v4L_Kt_Zx-i8O42._3NkJGbT78CjVh5jGiH3Zu7 img,
._2WgOyU6v4L_Kt_Zx-i8O42._3NkJGbT78CjVh5jGiH3Zu7 video {
  width: 30%;
}
._2WgOyU6v4L_Kt_Zx-i8O42._3NkJGbT78CjVh5jGiH3Zu7 ._39PwkE8hQvMQMlVXNvF6p0 {
  width: 70%;
}
@media (max-width: 900px) {
  ._2WgOyU6v4L_Kt_Zx-i8O42 {
    flex-direction: row;
  }
  ._2WgOyU6v4L_Kt_Zx-i8O42 img,
  ._2WgOyU6v4L_Kt_Zx-i8O42 video {
    width: 40%;
  }
  ._2WgOyU6v4L_Kt_Zx-i8O42 ._39PwkE8hQvMQMlVXNvF6p0 {
    width: 60%;
  }
}
._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi img,
._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi video {
  width: 70%;
}
._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi ._39PwkE8hQvMQMlVXNvF6p0 {
  width: 30%;
}
@media (max-width: 900px) {
  ._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi {
    flex-direction: column;
  }
  ._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi img,
  ._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi video {
    width: 100%;
  }
  ._2WgOyU6v4L_Kt_Zx-i8O42._2hDMddEH7A9W_ykVPZZfOi ._39PwkE8hQvMQMlVXNvF6p0 {
    width: 100%;
  }
}
._3N4J7oXHRLG5LGFCrxA2sh {
  width: 114%;
  position: relative;
  aspect-ratio: 221/171;
  margin: -24% 0 -14%;
  max-width: 1760px;
}
._3N4J7oXHRLG5LGFCrxA2sh ._13NH2aMzVFkFMGdFCTYE5A {
  width: 100%;
  mix-blend-mode: screen;
  position: absolute;
}
._3N4J7oXHRLG5LGFCrxA2sh ._22_JzL5ry_VCCjGzSXtYhw {
  width: 100%;
  position: absolute;
}
._1ZmG3HyDDu-ecK2F03ocG3 {
  width: 115%;
  margin: -5% 0 -2%;
}
@media (max-width: 1200px) {
  ._1ZmG3HyDDu-ecK2F03ocG3 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  ._1ZmG3HyDDu-ecK2F03ocG3 {
    width: 220%;
    margin-left: 22%;
    margin-top: -10%;
  }
}
.ZpIDv0RRJUXAwIpC9pp9w {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #ff6046;
  width: 100%;
  padding: calc(8px + 1.6vw);
  margin: 0px 2vw;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .ZpIDv0RRJUXAwIpC9pp9w {
    flex-direction: column;
    gap: 12px;
  }
}
.ZpIDv0RRJUXAwIpC9pp9w ._2PY8ORkXiu839sVZ9DLmFK {
  width: 34%;
  text-align: left;
  color: #ff6046;
  height: fit-content;
}
@media (max-width: 600px) {
  .ZpIDv0RRJUXAwIpC9pp9w ._2PY8ORkXiu839sVZ9DLmFK {
    width: 100%;
  }
}
.ZpIDv0RRJUXAwIpC9pp9w .LECEQtxRiWoUn60FgC3b {
  width: stretch;
  text-align: left;
  padding: 10px 12px;
  margin: 24px 0px 16px;
  background: linear-gradient(
    to right,
    rgba(6, 37, 65, 0.5),
    rgba(6, 37, 65, 0)
  );
  border-left: 2px solid #0c375c;
}
.ZpIDv0RRJUXAwIpC9pp9w .LECEQtxRiWoUn60FgC3b.dbIL-KrLrLcRueeX8wefr {
  margin-top: unset;
}
.ZpIDv0RRJUXAwIpC9pp9w ._3q80efhHgluJedeexc6NRn {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-right: 6vw;
}
@media (max-width: 600px) {
  .ZpIDv0RRJUXAwIpC9pp9w ._3q80efhHgluJedeexc6NRn {
    margin-right: 0px;
  }
}
.ZpIDv0RRJUXAwIpC9pp9w._2d94fKtD-DwwcsLZ6DmZxo {
  border-left: 1px solid #fff;
  border-image: linear-gradient(to bottom, #ffce5c, #c78f3b) 1;
}
.ZpIDv0RRJUXAwIpC9pp9w._2d94fKtD-DwwcsLZ6DmZxo ._2PY8ORkXiu839sVZ9DLmFK {
  color: #f0b851;
  display: flex;
  gap: 12px;
  align-items: center;
}
.ZpIDv0RRJUXAwIpC9pp9w._2d94fKtD-DwwcsLZ6DmZxo ._2PY8ORkXiu839sVZ9DLmFK:before {
  content: "";
  position: relative;
  background-image: url("https://cdn.steamstatic.com/apps/dota2/images/dota_react/icons/dota_plus.png");
  background-size: cover;
  width: 36px;
  height: 36px;
}
._3cCAYJMwcFfOGp8H2bFngv {
  width: stretch;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 6px;
  margin-left: 16px;
}
._3cCAYJMwcFfOGp8H2bFngv:before {
  content: "•";
  opacity: 0.5;
  color: #a1a7b6;
  font-size: 20px;
}
._3cCAYJMwcFfOGp8H2bFngv p {
  text-align: left;
  display: flex;
  color: #a1a7b6;
}
._3cCAYJMwcFfOGp8H2bFngv._2aw-Is7lZVVIYXf0vLuIKi {
  margin-left: 56px;
}
._3QXIvQlCQ42DccNMoOw1Ub {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: stretch;
  border-top: 1px solid #222326;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-top: 6px;
  margin-left: 16px;
}
._3QXIvQlCQ42DccNMoOw1Ub._1mRO4y8auhn5l_qd5BkzOf {
  margin-top: unset;
  padding-top: unset;
  border-top: unset;
}
._3QXIvQlCQ42DccNMoOw1Ub .azJJGYp4X1U9fslsTqPst {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}
._3QXIvQlCQ42DccNMoOw1Ub p {
  text-align: left;
  display: flex;
  color: #e4e8f4;
  font-family: "Reaver", serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
}
._3t4RerNngiI-s9C1FcHFJH {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
._3t4RerNngiI-s9C1FcHFJH:before {
  content: "•";
  opacity: 0.5;
  color: #a1a7b6;
  font-size: 20px;
}
._3t4RerNngiI-s9C1FcHFJH p {
  text-align: left;
  display: flex;
  color: #a1a7b6;
}
._3t4RerNngiI-s9C1FcHFJH .azJJGYp4X1U9fslsTqPst {
  width: 28px;
  height: 28px;
}
._3t4RerNngiI-s9C1FcHFJH ._3juHjE3M7RqDpuv7PmH1Dn {
  display: flex;
  flex-direction: row;
  position: relative;
}
._3t4RerNngiI-s9C1FcHFJH ._3juHjE3M7RqDpuv7PmH1Dn ._1tn7CYjf0crBGCanF50h9W {
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 0.1s;
}
._3t4RerNngiI-s9C1FcHFJH ._3juHjE3M7RqDpuv7PmH1Dn ._88RSiQjM-oyiFAYqIRoGZ {
  min-width: 400px;
  width: 40vw;
  background-color: #000;
  border: 1px solid #3c3e44;
  padding: 8px;
  position: absolute;
  top: -4px;
  transform: translateY(calc(-100% - 4px)) translateX(-8px);
  display: none;
}
._3t4RerNngiI-s9C1FcHFJH
  ._3juHjE3M7RqDpuv7PmH1Dn:hover
  ._1tn7CYjf0crBGCanF50h9W {
  opacity: 0.8;
}
._3t4RerNngiI-s9C1FcHFJH
  ._3juHjE3M7RqDpuv7PmH1Dn:hover
  ._88RSiQjM-oyiFAYqIRoGZ {
  display: unset;
}
._3qZWpCb32hQjF5WGObGNNd {
  background-image: url("https://cdn.steamstatic.com/apps/dota2/images/687/featured.jpg");
}
._3_ONqYcjDFRLUE1uBj7rTJ {
  background-color: #0b0e0e;
  position: relative;
}
._3_ONqYcjDFRLUE1uBj7rTJ ._2mOjxq2Dj7CWsplFF1gcdm {
  width: 100%;
}
._3_ONqYcjDFRLUE1uBj7rTJ ._2LEhW2ipQB5MhYUwNf1gUJ {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1.5vw + 8px);
}
